




<div class="page-cover">
    <div class="no--padding">
        <header class="cover--simple hp6-cover">
     <div class="black-friday-header">
           {% comment %}  <img
                src="{{ 'header-desktop.jpg' | file_img_url: '978x' }}"
                alt="Black Friday is here"
                class="pride--image"
            >

            </div>

        <div class ="holiday-sets-container">
            <h1>Holiday Set</h1>
            <h3>Shop our holiday sets that features beatiful stand out 14k gold items! <br /> Available until Dec 31st. </h3>

            <div class="holiday-card">
                <div class="holiday-set">
                <h3>Show me sparkle set</h3>
                <button>Shop</button>
                </div>
        </div> {% endcomment %}


</div>
</header>


<div class="holiday-sets-container no--mobile-padding">
{% comment %} <div class="page-width">
    <h2 class="hp6-categories__header">Holiday Set</h2>
    <h3>Shop our holiday sets that features beatiful stand out 14k gold items! <br /> Available until Dec 31st. </h3>
</div> {% endcomment %}

    <nav class="holiday-lineup">
        <ul>
            {% include 'holiday-lineup', type: 'sparkle', name: 'Show Me Sparkle Set' %}
            {% comment %}  {% include 'holiday-lineup', type: 'sparkle', name: 'Show Me Sparkle Set' %}
            {% include 'holiday-lineup', type: 'sparkle', name: 'Show Me Sparkle Set' %}
           {% include 'holiday-lineup', type: 'bracelets', tag: 'letter', name: 'Letters' %}
            {% include 'holiday-lineup', type: 'bracelets', tag: 'unique', name: 'Uniques' %}
            {% include 'holiday-lineup', type: 'bracelets', tag: 'stone', name: 'Stones' %}
            {% include 'holiday-lineup', type: 'bracelets', tag: 'anklet', name: 'Anklets' %} {% endcomment %}
        </ul>
    </nav>
</div>






    </div>
</div>













<div class="pride--banner">
    <img
        src="{{ 'header-desktop.jpg' | file_img_url: '978x' }}"
        alt="Black Friday is here"
        class="pride--image"
    >

    {% comment %} <img
        src="{{ 'header-mobile.jpg' | file_img_url: '978x' }}"
        alt="Black Friday is here"
        class="pride--image bfjhidden"
    > {% endcomment %}

    <div class="pride--cta-section">
        <h2 class="pride--heading" style="text-align:center;">Free <br />Journal For <br /> orders $99+</h2>
        <h5 class="pride--sub-header">Our early black friday gift is here now and we want to celebrate the upcoming year with you. Pick your favorite 14k piece and receive a free journal!</h5>
        <a href="https://www.automicgold.com/collections/all?sort_by=created-descending" class="pride--link">Shop now</a>
        <h3 class="while--supplies--last">Journals available while supplies last.</h3>
    </div>
</div>






{{ type }}-lineup-


sparkle-lineup

--













<div class="pride--banner">
    <img
        src="{{ 'header-desktop.jpg' | file_img_url: '978x' }}"
        alt="Black Friday is here"
        class="pride--image"
    >

    {% comment %} <img
        src="{{ 'header-mobile.jpg' | file_img_url: '978x' }}"
        alt="Black Friday is here"
        class="pride--image bfjhidden"
    > {% endcomment %}


    <div class="pride--cta-section">
        <h2 class="pride--heading" style="text-align:center;">Free <br />Journal For <br /> orders $99+</h2>
        <h5 class="pride--sub-header">Our early black friday gift is here now and we want to celebrate the upcoming year with you. Pick your favorite 14k piece and receive a free journal!</h5>
        <a href="https://www.automicgold.com/collections/all?sort_by=created-descending" class="pride--link">Shop now</a>
        <h3 class="while--supplies--last">Journals available while supplies last.</h3>
    </div>
</div>

{% comment %} <div class="pride--banner">
    <img
        src="{{ 'header-desktop.jpg' | file_img_url: '978x' }}"
        alt="Pride is here"
        class="pride--image"
    >

    <div class="pride--cta-section">
        <h2 class="pride--heading" style="text-align:center;">Most Asked <br />for Gems</h2>
        <h5 class="pride--sub-header">Available now in bestselling styles.</h5>
        <a href="https://www.automicgold.com/collections/all?sort_by=created-descending" class="pride--link">Shop now</a>
    </div>
</div> {% endcomment %}


{% comment %}
<div class="pride--banner">
    <img
        src="{{ 'header0713.png' | file_img_url: '978x' }}"
        alt="Pride is here"
        class="pride--image"
    >

    <div class="pride--cta-section">
        <h2 class="pride--heading" style="text-align:center;">SUMMER<br />READY</h2>
        <h5 class="pride--sub-header">Shop sweat proof jewelry.</h5>
        <a href="/collections/all" class="pride--link">Shop now</a>
    </div>
</div>{% endcomment %}

{% comment %} <div class="text__block">
    <div class="inner">
        <h1><span>A Solid Gold</span> <span>Investment</span><span>That You Can</span><span>Wear 24/7</span></h1>

        <p class="space-bottom-x1">Shop our entire collection.</p>

        <a href="{{ shop.url }}/collections/all" class="btn btn--wide">Shop now</a>
    </div>
</div> {% endcomment %}