<section class="wedding-sizes {{ template | handle }} page-width" id="wedding-sizes-container" data-size="2mm">

    <div class="molecule__text">
        <h3>
            Bringing size <span class="inclusivity">inclusivity</span> to weddings!
        </h3>
        <h3 class="all-jewelry-text">
            As all Automic Gold jewelry, our wedding rings come in sizes from 2 to 16 - quarters and halves included.
        </h3>
        <p>
            Here is a preview of how the same width of curved mirror band looks in different sizes.
        </p> 
    </div>

    <div class="wedding-sizes__selector">
        <div>Change band width shown:</div> <button data-size="2mm">2mm</button> <button data-size="3mm">3mm</button> <button data-size="4mm">4mm</button> <button data-size="6mm">6mm</button>
    </div>

    <div class="wedding-sizes__grid" data-size="2mm">
        <div class="wedding-sizes__example">
            <h4>2mm band in size 4</h4>
            <div>
                <img
                    class="lazyload content"
                    src="{{ 'loading-image.png' | file_img_url: '414x517', crop: 'center' }}"
                    data-srcset="
                        {{ '2mm_size_4.jpg' | file_img_url: '414x517' }} 414w,
                        {{ '2mm_size_4.jpg' | file_img_url: '690x862' }} 690w,
                        {{ '2mm_size_4.jpg' | file_img_url: '500x625' }} 500w,
                        {{ '2mm_size_4.jpg' | file_img_url: '1000x1250' }} 1000w
                    "
                    sizes="
                        (max-width: 479px) calc((100vw - 30px) * 0.5),
                        (min-width: 480px) and (max-width: 767.98px) calc((100vw - 60px) * 0.5),
                        (min-width: 768px) and (max-width: 1199.98px) calc((100vw - 120px) * 0.25),
                        (min-width: 1200px) calc((100vw - 180px) * 0.25)
                    "
                    alt="2mm wedding band worn on a hand in size 4"/>
            </div>
        </div>
        <div class="wedding-sizes__example">
            <h4>2mm band in size 6.5</h4>
            <div>
                <img
                    class="lazyload content"
                    src="{{ 'loading-image.png' | file_img_url: '414x517', crop: 'center' }}"
                    data-srcset="
                        {{ '2mm_size_6.5.jpg' | file_img_url: '414x517' }} 414w,
                        {{ '2mm_size_6.5.jpg' | file_img_url: '690x862' }} 690w,
                        {{ '2mm_size_6.5.jpg' | file_img_url: '500x625' }} 500w,
                        {{ '2mm_size_6.5.jpg' | file_img_url: '1000x1250' }} 1000w
                    "
                    sizes="
                        (max-width: 479px) calc((100vw - 30px) * 0.5),
                        (min-width: 480px) and (max-width: 767.98px) calc((100vw - 60px) * 0.5),
                        (min-width: 768px) and (max-width: 1199.98px) calc((100vw - 120px) * 0.25),
                        (min-width: 1200px) calc((100vw - 180px) * 0.25)
                    "
                    alt="2mm wedding band worn on a hand in size 6.5"/>
            </div>
        </div>
        <div class="wedding-sizes__example">
            <h4>2mm band in size 9</h4>
            <div>
                <img
                    class="lazyload content"
                    src="{{ 'loading-image.png' | file_img_url: '414x517', crop: 'center' }}"
                    data-srcset="
                        {{ '2mm_size_9.jpg' | file_img_url: '414x517' }} 414w,
                        {{ '2mm_size_9.jpg' | file_img_url: '690x862' }} 690w,
                        {{ '2mm_size_9.jpg' | file_img_url: '500x625' }} 500w,
                        {{ '2mm_size_9.jpg' | file_img_url: '1000x1250' }} 1000w
                    "
                    sizes="
                        (max-width: 479px) calc((100vw - 30px) * 0.5),
                        (min-width: 480px) and (max-width: 767.98px) calc((100vw - 60px) * 0.5),
                        (min-width: 768px) and (max-width: 1199.98px) calc((100vw - 120px) * 0.25),
                        (min-width: 1200px) calc((100vw - 180px) * 0.25)
                    "
                    alt="2mm wedding band worn on a hand in size 9"/>
            </div>
        </div>
        <div class="wedding-sizes__example">
            <h4>2mm band in size 14</h4>
            <div>
                <img
                    class="lazyload content"
                    src="{{ 'loading-image.png' | file_img_url: '414x517', crop: 'center' }}"
                    data-srcset="
                        {{ '2mm_size_14.jpg' | file_img_url: '414x517' }} 414w,
                        {{ '2mm_size_14.jpg' | file_img_url: '690x862' }} 690w,
                        {{ '2mm_size_14.jpg' | file_img_url: '500x625' }} 500w,
                        {{ '2mm_size_14.jpg' | file_img_url: '1000x1250' }} 1000w
                    "
                    sizes="
                        (max-width: 479px) calc((100vw - 30px) * 0.5),
                        (min-width: 480px) and (max-width: 767.98px) calc((100vw - 60px) * 0.5),
                        (min-width: 768px) and (max-width: 1199.98px) calc((100vw - 120px) * 0.25),
                        (min-width: 1200px) calc((100vw - 180px) * 0.25)
                    "
                    alt="2mm wedding band worn on a hand in size 14"/>
            </div>
        </div>
    </div>

    <div class="wedding-sizes__grid" data-size="3mm">
        <div class="wedding-sizes__example">
            <h4>3mm band in size 4</h4>
            <div>
                <img
                    class="lazyload content"
                    src="{{ 'loading-image.png' | file_img_url: '414x517', crop: 'center' }}"
                    data-srcset="
                        {{ '3mm_size_4.jpg' | file_img_url: '414x517' }} 414w,
                        {{ '3mm_size_4.jpg' | file_img_url: '690x862' }} 690w,
                        {{ '3mm_size_4.jpg' | file_img_url: '500x625' }} 500w,
                        {{ '3mm_size_4.jpg' | file_img_url: '1000x1250' }} 1000w
                    "
                    sizes="
                        (max-width: 479px) calc((100vw - 30px) * 0.5),
                        (min-width: 480px) and (max-width: 767.98px) calc((100vw - 60px) * 0.5),
                        (min-width: 768px) and (max-width: 1199.98px) calc((100vw - 120px) * 0.25),
                        (min-width: 1200px) calc((100vw - 180px) * 0.25)
                    "
                    alt="3mm wedding band worn on a hand in size 4"/>
            </div>
        </div>
        <div class="wedding-sizes__example">
            <h4>3mm band in size 6.5</h4>
            <div>
                <img
                    class="lazyload content"
                    src="{{ 'loading-image.png' | file_img_url: '414x517', crop: 'center' }}"
                    data-srcset="
                        {{ '3mm_size_6.5.jpg' | file_img_url: '414x517' }} 414w,
                        {{ '3mm_size_6.5.jpg' | file_img_url: '690x862' }} 690w,
                        {{ '3mm_size_6.5.jpg' | file_img_url: '500x625' }} 500w,
                        {{ '3mm_size_6.5.jpg' | file_img_url: '1000x1250' }} 1000w
                    "
                    sizes="
                        (max-width: 479px) calc((100vw - 30px) * 0.5),
                        (min-width: 480px) and (max-width: 767.98px) calc((100vw - 60px) * 0.5),
                        (min-width: 768px) and (max-width: 1199.98px) calc((100vw - 120px) * 0.25),
                        (min-width: 1200px) calc((100vw - 180px) * 0.25)
                    "
                    alt="3mm wedding band worn on a hand in size 6.5"/>
            </div>
        </div>
        <div class="wedding-sizes__example">
            <h4>3mm band in size 9</h4>
            <div>
                <img
                    class="lazyload content"
                    src="{{ 'loading-image.png' | file_img_url: '414x517', crop: 'center' }}"
                    data-srcset="
                        {{ '3mm_size_9.jpg' | file_img_url: '414x517' }} 414w,
                        {{ '3mm_size_9.jpg' | file_img_url: '690x862' }} 690w,
                        {{ '3mm_size_9.jpg' | file_img_url: '500x625' }} 500w,
                        {{ '3mm_size_9.jpg' | file_img_url: '1000x1250' }} 1000w
                    "
                    sizes="
                        (max-width: 479px) calc((100vw - 30px) * 0.5),
                        (min-width: 480px) and (max-width: 767.98px) calc((100vw - 60px) * 0.5),
                        (min-width: 768px) and (max-width: 1199.98px) calc((100vw - 120px) * 0.25),
                        (min-width: 1200px) calc((100vw - 180px) * 0.25)
                    "
                    alt="3mm wedding band worn on a hand in size 9"/>
            </div>
        </div>
        <div class="wedding-sizes__example">
            <h4>3mm band in size 14</h4>
            <div>
                <img
                    class="lazyload content"
                    src="{{ 'loading-image.png' | file_img_url: '414x517', crop: 'center' }}"
                    data-srcset="
                        {{ '3mm_size_14.jpg' | file_img_url: '414x517' }} 414w,
                        {{ '3mm_size_14.jpg' | file_img_url: '690x862' }} 690w,
                        {{ '3mm_size_14.jpg' | file_img_url: '500x625' }} 500w,
                        {{ '3mm_size_14.jpg' | file_img_url: '1000x1250' }} 1000w
                    "
                    sizes="
                        (max-width: 479px) calc((100vw - 30px) * 0.5),
                        (min-width: 480px) and (max-width: 767.98px) calc((100vw - 60px) * 0.5),
                        (min-width: 768px) and (max-width: 1199.98px) calc((100vw - 120px) * 0.25),
                        (min-width: 1200px) calc((100vw - 180px) * 0.25)
                    "
                    alt="3mm wedding band worn on a hand in size 14"/>
            </div>
        </div>
    </div>

    <div class="wedding-sizes__grid" data-size="4mm">
        <div class="wedding-sizes__example">
            <h4>4mm band in size 4</h4>
            <div>
                <img
                    class="lazyload content"
                    src="{{ 'loading-image.png' | file_img_url: '414x517', crop: 'center' }}"
                    data-srcset="
                        {{ '4mm_size_4.jpg' | file_img_url: '414x517' }} 414w,
                        {{ '4mm_size_4.jpg' | file_img_url: '690x862' }} 690w,
                        {{ '4mm_size_4.jpg' | file_img_url: '500x625' }} 500w,
                        {{ '4mm_size_4.jpg' | file_img_url: '1000x1250' }} 1000w
                    "
                    sizes="
                        (max-width: 479px) calc((100vw - 30px) * 0.5),
                        (min-width: 480px) and (max-width: 767.98px) calc((100vw - 60px) * 0.5),
                        (min-width: 768px) and (max-width: 1199.98px) calc((100vw - 120px) * 0.25),
                        (min-width: 1200px) calc((100vw - 180px) * 0.25)
                    "
                    alt="4mm wedding band worn on a hand in size 4"/>
            </div>
        </div>
        <div class="wedding-sizes__example">
            <h4>4mm band in size 6.5</h4>
            <div>
                <img
                    class="lazyload content"
                    src="{{ 'loading-image.png' | file_img_url: '414x517', crop: 'center' }}"
                    data-srcset="
                        {{ '4mm_size_6.5.jpg' | file_img_url: '414x517' }} 414w,
                        {{ '4mm_size_6.5.jpg' | file_img_url: '690x862' }} 690w,
                        {{ '4mm_size_6.5.jpg' | file_img_url: '500x625' }} 500w,
                        {{ '4mm_size_6.5.jpg' | file_img_url: '1000x1250' }} 1000w
                    "
                    sizes="
                        (max-width: 479px) calc((100vw - 30px) * 0.5),
                        (min-width: 480px) and (max-width: 767.98px) calc((100vw - 60px) * 0.5),
                        (min-width: 768px) and (max-width: 1199.98px) calc((100vw - 120px) * 0.25),
                        (min-width: 1200px) calc((100vw - 180px) * 0.25)
                    "
                    alt="4mm wedding band worn on a hand in size 6.5"/>
            </div>
        </div>
        <div class="wedding-sizes__example">
            <h4>4mm band in size 9</h4>
            <div>
                <img
                    class="lazyload content"
                    src="{{ 'loading-image.png' | file_img_url: '414x517', crop: 'center' }}"
                    data-srcset="
                        {{ '4mm_size_9.jpg' | file_img_url: '414x517' }} 414w,
                        {{ '4mm_size_9.jpg' | file_img_url: '690x862' }} 690w,
                        {{ '4mm_size_9.jpg' | file_img_url: '500x625' }} 500w,
                        {{ '4mm_size_9.jpg' | file_img_url: '1000x1250' }} 1000w
                    "
                    sizes="
                        (max-width: 479px) calc((100vw - 30px) * 0.5),
                        (min-width: 480px) and (max-width: 767.98px) calc((100vw - 60px) * 0.5),
                        (min-width: 768px) and (max-width: 1199.98px) calc((100vw - 120px) * 0.25),
                        (min-width: 1200px) calc((100vw - 180px) * 0.25)
                    "
                    alt="4mm wedding band worn on a hand in size 9"/>
            </div>
        </div>
        <div class="wedding-sizes__example">
            <h4>4mm band in size 14</h4>
            <div>
                <img
                    class="lazyload content"
                    src="{{ 'loading-image.png' | file_img_url: '414x517', crop: 'center' }}"
                    data-srcset="
                        {{ '4mm_size_14.jpg' | file_img_url: '414x517' }} 414w,
                        {{ '4mm_size_14.jpg' | file_img_url: '690x862' }} 690w,
                        {{ '4mm_size_14.jpg' | file_img_url: '500x625' }} 500w,
                        {{ '4mm_size_14.jpg' | file_img_url: '1000x1250' }} 1000w
                    "
                    sizes="
                        (max-width: 479px) calc((100vw - 30px) * 0.5),
                        (min-width: 480px) and (max-width: 767.98px) calc((100vw - 60px) * 0.5),
                        (min-width: 768px) and (max-width: 1199.98px) calc((100vw - 120px) * 0.25),
                        (min-width: 1200px) calc((100vw - 180px) * 0.25)
                    "
                    alt="4mm wedding band worn on a hand in size 14"/>
            </div>
        </div>
    </div>

    <div class="wedding-sizes__grid" data-size="6mm">
        <div class="wedding-sizes__example">
            <h4>6mm band in size 4</h4>
            <div>
                <img
                    class="lazyload content"
                    src="{{ 'loading-image.png' | file_img_url: '414x517', crop: 'center' }}"
                    data-srcset="
                        {{ '6mm_size_4.jpg' | file_img_url: '414x517' }} 414w,
                        {{ '6mm_size_4.jpg' | file_img_url: '690x862' }} 690w,
                        {{ '6mm_size_4.jpg' | file_img_url: '500x625' }} 500w,
                        {{ '6mm_size_4.jpg' | file_img_url: '1000x1250' }} 1000w
                    "
                    sizes="
                        (max-width: 479px) calc((100vw - 30px) * 0.5),
                        (min-width: 480px) and (max-width: 767.98px) calc((100vw - 60px) * 0.5),
                        (min-width: 768px) and (max-width: 1199.98px) calc((100vw - 120px) * 0.25),
                        (min-width: 1200px) calc((100vw - 180px) * 0.25)
                    "
                    alt="6mm wedding band worn on a hand in size 4"/>
            </div>
        </div>
        <div class="wedding-sizes__example">
            <h4>6mm band in size 6.5</h4>
            <div>
                <img
                    class="lazyload content"
                    src="{{ 'loading-image.png' | file_img_url: '414x517', crop: 'center' }}"
                    data-srcset="
                        {{ '6mm_size_6.5.jpg' | file_img_url: '414x517' }} 414w,
                        {{ '6mm_size_6.5.jpg' | file_img_url: '690x862' }} 690w,
                        {{ '6mm_size_6.5.jpg' | file_img_url: '500x625' }} 500w,
                        {{ '6mm_size_6.5.jpg' | file_img_url: '1000x1250' }} 1000w
                    "
                    sizes="
                        (max-width: 479px) calc((100vw - 30px) * 0.5),
                        (min-width: 480px) and (max-width: 767.98px) calc((100vw - 60px) * 0.5),
                        (min-width: 768px) and (max-width: 1199.98px) calc((100vw - 120px) * 0.25),
                        (min-width: 1200px) calc((100vw - 180px) * 0.25)
                    "
                    alt="6mm wedding band worn on a hand in size 6.5"/>
            </div>
        </div>
        <div class="wedding-sizes__example">
            <h4>6mm band in size 9</h4>
            <div>
                <img
                    class="lazyload content"
                    src="{{ 'loading-image.png' | file_img_url: '414x517', crop: 'center' }}"
                    data-srcset="
                        {{ '6mm_size_9.jpg' | file_img_url: '414x517' }} 414w,
                        {{ '6mm_size_9.jpg' | file_img_url: '690x862' }} 690w,
                        {{ '6mm_size_9.jpg' | file_img_url: '500x625' }} 500w,
                        {{ '6mm_size_9.jpg' | file_img_url: '1000x1250' }} 1000w
                    "
                    sizes="
                        (max-width: 479px) calc((100vw - 30px) * 0.5),
                        (min-width: 480px) and (max-width: 767.98px) calc((100vw - 60px) * 0.5),
                        (min-width: 768px) and (max-width: 1199.98px) calc((100vw - 120px) * 0.25),
                        (min-width: 1200px) calc((100vw - 180px) * 0.25)
                    "
                    alt="6mm wedding band worn on a hand in size 9"/>
            </div>
        </div>
        <div class="wedding-sizes__example">
            <h4>6mm band in size 14</h4>
            <div>
                <img
                    class="lazyload content"
                    src="{{ 'loading-image.png' | file_img_url: '414x517', crop: 'center' }}"
                    data-srcset="
                        {{ '6mm_size_14.jpg' | file_img_url: '414x517' }} 414w,
                        {{ '6mm_size_14.jpg' | file_img_url: '690x862' }} 690w,
                        {{ '6mm_size_14.jpg' | file_img_url: '500x625' }} 500w,
                        {{ '6mm_size_14.jpg' | file_img_url: '1000x1250' }} 1000w
                    "
                    sizes="
                        (max-width: 479px) calc((100vw - 30px) * 0.5),
                        (min-width: 480px) and (max-width: 767.98px) calc((100vw - 60px) * 0.5),
                        (min-width: 768px) and (max-width: 1199.98px) calc((100vw - 120px) * 0.25),
                        (min-width: 1200px) calc((100vw - 180px) * 0.25)
                    "
                    alt="6mm wedding band worn on a hand in size 14"/>
            </div>
        </div>
    </div>
</section>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        var weddingContainer = document.getElementById('wedding-sizes-container');

        $('button[data-size]').click(function(e) {
            weddingContainer.dataset.size = e.currentTarget.dataset.size;
        });
    });
</script>
