<section class="engagement-engraving engagement-block engagement-engraving-desktop">
    <div class="no--padding engagement-section-1 engagement-section-1-desktop">
        <div class="molecule__text">
            <h3>
                Love the design, but want something different?
            </h3>
            <h3>
                Let us help you create a unique piece. Visit our customs page, to get a lil' inspiration!
            </h3>
            <a href="https://www.automicgold.com/pages/custom-orders" class="btn">Visit Customs Page</a>
        </div>
        <div class="three-custom-image-container">
            <picture>
                {% comment %}iPad-like ratio, width to height ratio of 3/4 to 5/4 (tall image){% endcomment %}
                <source
                    srcset="
                        {{ 'three-custom-engagement-rings-1.jpg' | file_img_url: '1000x1000' }} 1000w,
                        {{ 'three-custom-engagement-rings-1.jpg' | file_img_url: '1500x1500' }} 1500w,
                        {{ 'three-custom-engagement-rings-1.jpg' | file_img_url: '2000x2000' }} 2000w
                    "
                    sizes="100vw"
                    media="(min-aspect-ratio: 3/4) and (max-aspect-ratio: 5/4)"
                />
                {% comment %}Narrow screens, up tp width to height ratio of 3/2 (square image){% endcomment %}
                <source
                    srcset="
                        {{ 'three-custom-engagement-rings-1.jpg' | file_img_url: '580x812' }} 580w,
                        {{ 'three-custom-engagement-rings-1.jpg' | file_img_url: '690x966' }} 690w,
                        {{ 'three-custom-engagement-rings-1.jpg' | file_img_url: '1035x1449' }} 1035w,
                        {{ 'three-custom-engagement-rings-1.jpg' | file_img_url: '1152x1613' }} 1152w,
                        {{ 'three-custom-engagement-rings-1.jpg' | file_img_url: '1416x1982' }} 1416w
                    "
                    sizes="100vw"
                    media="(max-aspect-ratio: 3/4)"
                />
                {% comment %}Ratios wider than width to height 3/2 (wide image){% endcomment %}
                <img
                    srcset="
                        {{ 'three-custom-engagement-rings-1.jpg' | file_img_url: '2000x1280' }} 2000w,
                        {{ 'three-custom-engagement-rings-1.jpg' | file_img_url: '1538x984' }} 1538w,
                        {{ 'three-custom-engagement-rings-1.jpg' | file_img_url: '1384x886' }} 1384w,
                        {{ 'three-custom-engagement-rings-1.jpg' | file_img_url: '769x492' }} 769w
                    "
                    sizes="100vw"
                    alt=""
                />
            </picture>
            <picture>
                {% comment %}iPad-like ratio, width to height ratio of 3/4 to 5/4 (tall image){% endcomment %}
                <source
                    srcset="
                        {{ 'three-custom-engagement-rings-2.jpg' | file_img_url: '1000x1000' }} 1000w,
                        {{ 'three-custom-engagement-rings-2.jpg' | file_img_url: '1500x1500' }} 1500w,
                        {{ 'three-custom-engagement-rings-2.jpg' | file_img_url: '2000x2000' }} 2000w
                    "
                    sizes="100vw"
                    media="(min-aspect-ratio: 3/4) and (max-aspect-ratio: 5/4)"
                />
                {% comment %}Narrow screens, up tp width to height ratio of 3/2 (square image){% endcomment %}
                <source
                    srcset="
                        {{ 'three-custom-engagement-rings-2.jpg' | file_img_url: '580x812' }} 580w,
                        {{ 'three-custom-engagement-rings-2.jpg' | file_img_url: '690x966' }} 690w,
                        {{ 'three-custom-engagement-rings-2.jpg' | file_img_url: '1035x1449' }} 1035w,
                        {{ 'three-custom-engagement-rings-2.jpg' | file_img_url: '1152x1613' }} 1152w,
                        {{ 'three-custom-engagement-rings-2.jpg' | file_img_url: '1416x1982' }} 1416w
                    "
                    sizes="100vw"
                    media="(max-aspect-ratio: 3/4)"
                />
                {% comment %}Ratios wider than width to height 3/2 (wide image){% endcomment %}
                <img
                    srcset="
                        {{ 'three-custom-engagement-rings-2.jpg' | file_img_url: '2000x1280' }} 2000w,
                        {{ 'three-custom-engagement-rings-2.jpg' | file_img_url: '1538x984' }} 1538w,
                        {{ 'three-custom-engagement-rings-2.jpg' | file_img_url: '1384x886' }} 1384w,
                        {{ 'three-custom-engagement-rings-2.jpg' | file_img_url: '769x492' }} 769w
                    "
                    sizes="100vw"
                    alt=""
                />
            </picture>
            <picture>
                {% comment %}iPad-like ratio, width to height ratio of 3/4 to 5/4 (tall image){% endcomment %}
                <source
                    srcset="
                        {{ 'three-custom-engagement-rings-3.jpg' | file_img_url: '1000x1000' }} 1000w,
                        {{ 'three-custom-engagement-rings-3.jpg' | file_img_url: '1500x1500' }} 1500w,
                        {{ 'three-custom-engagement-rings-3.jpg' | file_img_url: '2000x2000' }} 2000w
                    "
                    sizes="100vw"
                    media="(min-aspect-ratio: 3/4) and (max-aspect-ratio: 5/4)"
                />
                {% comment %}Narrow screens, up tp width to height ratio of 3/2 (square image){% endcomment %}
                <source
                    srcset="
                        {{ 'three-custom-engagement-rings-3.jpg' | file_img_url: '580x812' }} 580w,
                        {{ 'three-custom-engagement-rings-3.jpg' | file_img_url: '690x966' }} 690w,
                        {{ 'three-custom-engagement-rings-3.jpg' | file_img_url: '1035x1449' }} 1035w,
                        {{ 'three-custom-engagement-rings-3.jpg' | file_img_url: '1152x1613' }} 1152w,
                        {{ 'three-custom-engagement-rings-3.jpg' | file_img_url: '1416x1982' }} 1416w
                    "
                    sizes="100vw"
                    media="(max-aspect-ratio: 3/4)"
                />
                {% comment %}Ratios wider than width to height 3/2 (wide image){% endcomment %}
                <img
                    srcset="
                        {{ 'three-custom-engagement-rings-3.jpg' | file_img_url: '2000x1280' }} 2000w,
                        {{ 'three-custom-engagement-rings-3.jpg' | file_img_url: '1538x984' }} 1538w,
                        {{ 'three-custom-engagement-rings-3.jpg' | file_img_url: '1384x886' }} 1384w,
                        {{ 'three-custom-engagement-rings-3.jpg' | file_img_url: '769x492' }} 769w
                    "
                    sizes="100vw"
                    alt=""
                />
            </picture>
        </div>
    </div>
    {% comment %} <div class="engagement-section-2">        
        {% render 'engagement-sizes' %}
    </div> {% endcomment %}
</section>

<section class="engagement-engraving engagement-block engagement-engraving-mobile">
    <div class="engagement-section-1">
        <div class="molecule__text">
            <h3>
                Love the design, but want something different?
            </h3>
            <h3>
                Let us help you create a unique piece. Visit our customs page, to get a lil' inspiration!
            </h3>
            <a href="https://www.automicgold.com/pages/custom-orders" class="btn btn--wide">Visit Customs Page</a>
        </div>
        <div class="three-custom-image-container">
            <picture>
                {% comment %}iPad-like ratio, width to height ratio of 3/4 to 5/4 (tall image){% endcomment %}
                <source
                    srcset="
                        {{ 'three-custom-engagement-rings-1.jpg' | file_img_url: '1000x1000' }} 1000w,
                        {{ 'three-custom-engagement-rings-1.jpg' | file_img_url: '1500x1500' }} 1500w,
                        {{ 'three-custom-engagement-rings-1.jpg' | file_img_url: '2000x2000' }} 2000w
                    "
                    sizes="100vw"
                    media="(min-aspect-ratio: 3/4) and (max-aspect-ratio: 5/4)"
                />
                {% comment %}Narrow screens, up tp width to height ratio of 3/2 (square image){% endcomment %}
                <source
                    srcset="
                        {{ 'three-custom-engagement-rings-1.jpg' | file_img_url: '580x812' }} 580w,
                        {{ 'three-custom-engagement-rings-1.jpg' | file_img_url: '690x966' }} 690w,
                        {{ 'three-custom-engagement-rings-1.jpg' | file_img_url: '1035x1449' }} 1035w,
                        {{ 'three-custom-engagement-rings-1.jpg' | file_img_url: '1152x1613' }} 1152w,
                        {{ 'three-custom-engagement-rings-1.jpg' | file_img_url: '1416x1982' }} 1416w
                    "
                    sizes="100vw"
                    media="(max-aspect-ratio: 3/4)"
                />
                {% comment %}Ratios wider than width to height 3/2 (wide image){% endcomment %}
                <img
                    srcset="
                        {{ 'three-custom-engagement-rings-1.jpg' | file_img_url: '2000x1280' }} 2000w,
                        {{ 'three-custom-engagement-rings-1.jpg' | file_img_url: '1538x984' }} 1538w,
                        {{ 'three-custom-engagement-rings-1.jpg' | file_img_url: '1384x886' }} 1384w,
                        {{ 'three-custom-engagement-rings-1.jpg' | file_img_url: '769x492' }} 769w
                    "
                    sizes="100vw"
                    alt=""
                />
            </picture>
            <picture>
                {% comment %}iPad-like ratio, width to height ratio of 3/4 to 5/4 (tall image){% endcomment %}
                <source
                    srcset="
                        {{ 'three-custom-engagement-rings-2.jpg' | file_img_url: '1000x1000' }} 1000w,
                        {{ 'three-custom-engagement-rings-2.jpg' | file_img_url: '1500x1500' }} 1500w,
                        {{ 'three-custom-engagement-rings-2.jpg' | file_img_url: '2000x2000' }} 2000w
                    "
                    sizes="100vw"
                    media="(min-aspect-ratio: 3/4) and (max-aspect-ratio: 5/4)"
                />
                {% comment %}Narrow screens, up tp width to height ratio of 3/2 (square image){% endcomment %}
                <source
                    srcset="
                        {{ 'three-custom-engagement-rings-2.jpg' | file_img_url: '580x812' }} 580w,
                        {{ 'three-custom-engagement-rings-2.jpg' | file_img_url: '690x966' }} 690w,
                        {{ 'three-custom-engagement-rings-2.jpg' | file_img_url: '1035x1449' }} 1035w,
                        {{ 'three-custom-engagement-rings-2.jpg' | file_img_url: '1152x1613' }} 1152w,
                        {{ 'three-custom-engagement-rings-2.jpg' | file_img_url: '1416x1982' }} 1416w
                    "
                    sizes="100vw"
                    media="(max-aspect-ratio: 3/4)"
                />
                {% comment %}Ratios wider than width to height 3/2 (wide image){% endcomment %}
                <img
                    srcset="
                        {{ 'three-custom-engagement-rings-2.jpg' | file_img_url: '2000x1280' }} 2000w,
                        {{ 'three-custom-engagement-rings-2.jpg' | file_img_url: '1538x984' }} 1538w,
                        {{ 'three-custom-engagement-rings-2.jpg' | file_img_url: '1384x886' }} 1384w,
                        {{ 'three-custom-engagement-rings-2.jpg' | file_img_url: '769x492' }} 769w
                    "
                    sizes="100vw"
                    alt=""
                />
            </picture>
            <picture>
                {% comment %}iPad-like ratio, width to height ratio of 3/4 to 5/4 (tall image){% endcomment %}
                <source
                    srcset="
                        {{ 'three-custom-engagement-rings-3.jpg' | file_img_url: '1000x1000' }} 1000w,
                        {{ 'three-custom-engagement-rings-3.jpg' | file_img_url: '1500x1500' }} 1500w,
                        {{ 'three-custom-engagement-rings-3.jpg' | file_img_url: '2000x2000' }} 2000w
                    "
                    sizes="100vw"
                    media="(min-aspect-ratio: 3/4) and (max-aspect-ratio: 5/4)"
                />
                {% comment %}Narrow screens, up tp width to height ratio of 3/2 (square image){% endcomment %}
                <source
                    srcset="
                        {{ 'three-custom-engagement-rings-3.jpg' | file_img_url: '580x812' }} 580w,
                        {{ 'three-custom-engagement-rings-3.jpg' | file_img_url: '690x966' }} 690w,
                        {{ 'three-custom-engagement-rings-3.jpg' | file_img_url: '1035x1449' }} 1035w,
                        {{ 'three-custom-engagement-rings-3.jpg' | file_img_url: '1152x1613' }} 1152w,
                        {{ 'three-custom-engagement-rings-3.jpg' | file_img_url: '1416x1982' }} 1416w
                    "
                    sizes="100vw"
                    media="(max-aspect-ratio: 3/4)"
                />
                {% comment %}Ratios wider than width to height 3/2 (wide image){% endcomment %}
                <img
                    srcset="
                        {{ 'three-custom-engagement-rings-3.jpg' | file_img_url: '2000x1280' }} 2000w,
                        {{ 'three-custom-engagement-rings-3.jpg' | file_img_url: '1538x984' }} 1538w,
                        {{ 'three-custom-engagement-rings-3.jpg' | file_img_url: '1384x886' }} 1384w,
                        {{ 'three-custom-engagement-rings-3.jpg' | file_img_url: '769x492' }} 769w
                    "
                    sizes="100vw"
                    alt=""
                />
            </picture>
        </div>
    </div>
    {% comment %} <div class="engagement-section-2">        
        {% render 'engagement-sizes' %}
    </div> {% endcomment %}
</section>

{% comment %}<section class="wedding-engraving">
   <div class="molecule no--mobile-overlay molecule--reversed">
            <div class="molecule__uhaul boop2">
            
            <span class="visually-hidden">Video showing engraving on Automic Gold wedding band</span>
            <div>
                <video class="content" loop muted autoplay playsinline>
                    <source src="//dfaankvzyirrl.cloudfront.net/website/shared/engravedweddingband.mp4" type="video/mp4">
                </video>
            </div>
        </div>
        <div class="molecule__text">
            <h3>Engraved & personal</h3>
            <p>
                Up to thirty characters can be engraved<br/>on the inside of the band.
            </p>

            <p>
                Want to engrave something special<br/>inside or outside the ring?<br/>
                <a href="{{ shop.url }}/pages/custom-orders">We can make it happen</a>.
            </p>
        </div> 


{% endcomment %}