{% comment %}theme-check-disable ImgLazyLoading{% endcomment %}
{{ 'banner.out.css' | asset_url | stylesheet_tag }}

<div class="sizing-hero sizing-hero--{{ section.id }} highlighted-borders">
  <div class="sizing-hero__inner-{{ section.settings.positioning }} sizing-hero__inner-{{ section.settings.positioning_mobile }}">
    <div class="sizing-hero__absolute page-width">
      <h1 class="sizing-hero__title">
        {{ section.settings.title }}
      </h1>
      {% if section.settings.desc != blank %}
        <h2 class="sizing-hero__desc">
          {{ section.settings.desc }}
        </h2>
      {% endif %}
    </div>

    <div class="sizing-hero__text-wrapper">
      <div class="sizing-hero__title-mobile h1">
        {{ section.settings.title }}
      </div>
      {% if section.settings.desc != blank %}
        <h2 class="sizing-hero__desc mobile">
          {{ section.settings.desc }}
        </h2>
      {% endif %}
    </div>

    {%- if section.settings.image_desktop != blank -%}
      <div class="sizing-hero__image-container">
        <picture>
          <source media="(min-width: 768px)" srcset="{{ section.settings.image_desktop | image_url: width: 1500 }}">
          <img
            src="{{ section.settings.image_mobile | image_url: width: 750 }}"
            alt="{{ section.settings.image_desktop.alt }}"
          >
        </picture>
      </div>
    {%- endif -%}
  </div>
</div>

{% schema %}
{
  "name": "t:sections.banner.name",
  "class": "section",
  "settings": [
    {
      "type": "header",
      "content": "Desktop settings"
    },
    {
      "type": "image_picker",
      "id": "image_desktop",
      "label": "t:sections.banner.settings.image.content"
    },
    {
      "type": "select",
      "id": "positioning",
      "label": "t:sections.banner.settings.positioning.content",
      "options": [
        { "value": "image-first", "label": "Image first" },
        { "value": "image-second", "label": "Image second" }
      ]
    },
    {
      "type": "header",
      "content": "Mobile settings"
    },
    {
      "type": "image_picker",
      "id": "image_mobile",
      "label": "t:sections.banner.settings.image.content"
    },
    {
      "type": "select",
      "id": "positioning_mobile",
      "label": "t:sections.banner.settings.positioning.content",
      "options": [
        { "value": "image-first_mobile", "label": "Image first" },
        { "value": "image-second_mobile", "label": "Image second" }
      ]
    },
    {
      "type": "header",
      "content": "t:sections.banner.settings.text_settings.content"
    },
    {
      "type": "text",
      "id": "title",
      "label": "t:sections.banner.settings.title.content"
    },
    {
      "type": "richtext",
      "id": "desc",
      "label": "t:sections.banner.settings.desk.content"
    }
  ]
}
{% endschema %}
