{{ 'categories.out.css' | asset_url | stylesheet_tag }}

{%- style -%}
    .section--{{ section.id }} {
      padding-top: {{ section.settings.padding_top_mobile }}px;
      padding-bottom: {{ section.settings.padding_bottom_mobile }}px;
    }

    @media screen and (min-width: 992px) {
    .section--{{ section.id }} {
        padding-top: {{ section.settings.padding_top }}px;
        padding-bottom: {{ section.settings.padding_bottom }}px;
      }
    }
{%- endstyle -%}

<div class="categories">
    <div class="page-width section--{{ section.id }}">
        <div class="categories__header">
            <h2 class="categories__title">
                {{ section.settings.title }}
            </h2>
        </div>
        <div class="categories__items">
          <div class="categories__wrapper swiper-wrapper">
          {%- for block in section.blocks -%}
            <a href="{{ block.settings.url }}" class="categories__item categories-item swiper-slide" {{ block.shopify_attributes }}>
              {%- if block.settings.image != blank -%}
                {{ block.settings.image | image_url: width: 430 | image_tag: widths: '215, 375, 430' }}
              {%- else -%}
                {{ 'collection-1' | placeholder_svg_tag }}
              {%- endif -%}
              <p class="categories-item__text">{{ block.settings.title }}</p>
            </a>
          {%- endfor -%}
          </div>
        </div>
    </div>
</div>

{% schema %}
{
  "name": "Categories",
  "tag": "section",
  "class": "categories",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Title",
      "default": "Shop by Category"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 32
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 32
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_mobile_heading"
    },
    {
      "type": "range",
      "id": "padding_top_mobile",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 24
    },
    {
      "type": "range",
      "id": "padding_bottom_mobile",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 24
    }
  ],
  "blocks": [
    {
      "type": "item",
      "name": "Card item",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Title",
          "default": "Title"
        },
        {
          "type": "url",
          "id": "url",
          "label": "Link"
        }        
      ]
    }
  ],
  "presets": [
    {
      "name": "Categories"
    }
  ]
}
{% endschema %}