{{ 'text-with-double-img.out.css' | asset_url | stylesheet_tag }}

{%- style -%}
    .section--{{ section.id }} {
        padding-top: {{ section.settings.padding_top_mobile }}px;
        padding-bottom: {{ section.settings.padding_bottom_mobile }}px;
    }

    @media screen and (min-width: 768px) {
        .section--{{ section.id }} {
            padding-top: {{ section.settings.padding_top }}px;
            padding-bottom: {{ section.settings.padding_bottom }}px;
        }
    }

    .section--{{ section.id }} .text-with-double-img__image img {
        height: {{ section.settings.image_height_mobile }}px;
    }

    @media screen and (min-width: 768px) {
        .section--{{ section.id }} .text-with-double-img__image img {
            height: {{ section.settings.image_height }}px;
        }
    }
{%- endstyle -%}

<div class="text-with-double-img section--{{ section.id }}">
    <div class="page-width">
        <div class="text-with-double-img__inner d-flex">
            <div class="text-with-double-img__block">
                {%- if section.settings.heading != blank -%}
                    <h2 class="text-with-double-img__heading highlighted">
                        {{ section.settings.heading }}
                    </h2>
                {%- endif -%}
                {%- if section.settings.description != blank -%}
                    <div class="text-with-double-img__description">
                        {{ section.settings.description }}
                    </div>
                {%- endif -%}
                {%- if section.settings.title != blank -%}
                    <div class="text-with-double-img__title">
                        {{ section.settings.title }}
                    </div>
                {%- endif -%}
                {%- if section.settings.text != blank -%}
                    <div class="text-with-double-img__text text-with-double-img__text-desktop">
                        {{ section.settings.text }}
                    </div>
                {%- endif -%}
                {%- if section.settings.button_name != blank -%}
                    <a href="{{ section.settings.button_link }}" class="btn btn-desktop">{{ section.settings.button_name }}</a>      
                {%- endif -%}
            </div>

            {% for block in section.blocks %}
                <div class="text-with-double-img__block">
                    {%- if block.settings.image != blank -%}
                        <div class="text-with-double-img__image">
                            <picture>
                                {%- if block.settings.image_mobile != blank -%}
                                    <source
                                        media="(max-width: 767.98px)"
                                        srcset="
                                            {%- if block.settings.image_mobile.width >= 375 -%}{{ block.settings.image_mobile | image_url: width: 375 }} 375w,{%- endif -%}
                                            {%- if block.settings.image_mobile.width >= 550 -%}{{ block.settings.image_mobile | image_url: width: 550 }} 550w,{%- endif -%}
                                            {%- if block.settings.image_mobile.width >= 750 -%}{{ block.settings.image_mobile | image_url: width: 750 }} 750w,{%- endif -%}
                                        ">
                                {%- endif -%}
                                {{ block.settings.image | image_url: width: 750 | image_tag: widths: '375, 550, 750' }}
                              </picture>
                        </div>
                    {%- endif -%}
                </div>
            {% endfor %}

            {%- if section.settings.text != blank -%}
                <div class="text-with-double-img__text text-with-double-img__text-mobile">
                    {{ section.settings.text }}
                </div>
            {%- endif -%}
            {%- if section.settings.button_name != blank -%}
                <a href="{{ section.settings.button_link }}" class="btn btn-mobile">{{ section.settings.button_name }}</a>      
            {%- endif -%}

        </div>
    </div>
</div>

{% schema %}
{
    "name": "Text with double image",
    "tag": "section",
    "disabled_on": {
        "groups": ["header", "footer"]
    },
    "settings": [
        {
            "type": "text",
            "id": "heading",
            "label": "Heading"
        },
        {
            "type": "richtext",
            "id": "description",
            "label": "Description"
        },
        {
            "type": "text",
            "id": "title",
            "label": "Title"
        },
        {
            "type": "richtext",
            "id": "text",
            "label": "Text"
        },
        {
            "type": "text",
            "id": "button_name",
            "label": "Button name"
        },
        {
            "type": "url",
            "id": "button_link",
            "label": "Button link"
        },
        {
            "type": "range",
            "id": "image_height",
            "min": 300,
            "max": 600,
            "step": 5,
            "unit": "px",
            "label": "Image height on desktop",
            "default": 415
        },
        {
            "type": "range",
            "id": "image_height_mobile",
            "min": 200,
            "max": 500,
            "step": 5,
            "unit": "px",
            "label": "Image height on mobile",
            "default": 260
        },
        {
            "type": "header",
            "content": "t:sections.all.padding.section_padding_heading"
        },
        {
            "type": "range",
            "id": "padding_top",
            "min": 0,
            "max": 100,
            "step": 2,
            "unit": "px",
            "label": "t:sections.all.padding.padding_top",
            "default": 32
        },
        {
            "type": "range",
            "id": "padding_bottom",
            "min": 0,
            "max": 100,
            "step": 2,
            "unit": "px",
            "label": "t:sections.all.padding.padding_bottom",
            "default": 32
        },
        {
            "type": "header",
            "content": "t:sections.all.padding.section_padding_mobile_heading"
        },
        {
            "type": "range",
            "id": "padding_top_mobile",
            "min": 0,
            "max": 100,
            "step": 2,
            "unit": "px",
            "label": "t:sections.all.padding.padding_top",
            "default": 24
        },
        {
            "type": "range",
            "id": "padding_bottom_mobile",
            "min": 0,
            "max": 100,
            "step": 2,
            "unit": "px",
            "label": "t:sections.all.padding.padding_bottom",
            "default": 24
        }
    ],
    "blocks": [
        {
            "type": "block",
            "name": "Block",
            "limit": 2,
            "settings": [
                {
                    "type": "image_picker",
                    "id": "image",
                    "label": "Image"
                },
                {
                    "type": "image_picker",
                    "id": "image_mobile",
                    "label": "Image mobile"
                }
            ]
        }
    ],
    "presets": [
        {
            "name": "Text with double image",
            "blocks": [
                {
                    "type": "block"
                },
                {
                    "type": "block"
                }
            ]
        }
    ]
}
{% endschema %}