{% assign is_collection_sorted = false %}
{% if collection.sort_by and collection.sort_by != '' and collection.sort_by != 'manual' %}
    {% assign is_collection_sorted = true %}
{% endif %}

{% comment %} <div class="page-cover">
    <div class="no--padding">
        <header class="cover">
            <div class="cover__image">
                <picture>
                    {% comment %}iPad-like ratio, width to height ratio of 3/4 to 5/4 (tall image){% endcomment %}
                    <source
                        srcset="
                            {{ 'shop-page-photo--square.jpg' | file_img_url: '1000x1000' }} 1000w,
                            {{ 'shop-page-photo--square.jpg' | file_img_url: '1500x1500' }} 1500w,
                            {{ 'shop-page-photo--square.jpg' | file_img_url: '2000x2000' }} 2000w
                        "
                        sizes="100vw"
                        media="(min-aspect-ratio: 3/4) and (max-aspect-ratio: 5/4)"
                    />


                    {% comment %}Narrow screens, up tp width to height ratio of 3/2 (square image){% endcomment %}
                    <source
                        srcset="
                            {{ 'shop-page-photo--mobile.jpg' | file_img_url: '580x812' }} 580w,
                            {{ 'shop-page-photo--mobile.jpg' | file_img_url: '690x966' }} 690w,
                            {{ 'shop-page-photo--mobile.jpg' | file_img_url: '1035x1449' }} 1035w,
                            {{ 'shop-page-photo--mobile.jpg' | file_img_url: '1152x1613' }} 1152w,
                            {{ 'shop-page-photo--mobile.jpg' | file_img_url: '1416x1982' }} 1416w
                        "
                        sizes="100vw"
                        media="(max-aspect-ratio: 3/4)"
                    />

                    {% comment %}Ratios wider than width to height 3/2 (wide image){% endcomment %}
                    <img
                        srcset="
                            {{ 'shop-page-photo--desktop.jpg' | file_img_url: '2000x1280' }} 2000w,
                            {{ 'shop-page-photo--desktop.jpg' | file_img_url: '1538x984' }} 1538w,
                            {{ 'shop-page-photo--desktop.jpg' | file_img_url: '1384x886' }} 1384w,
                            {{ 'shop-page-photo--desktop.jpg' | file_img_url: '769x492' }} 769w
                        "
                        sizes="100vw"
                        alt="Comfortable necklaces, everyday rings and versatile bracelets worn by a model"
                    />
                </picture>
            </div>

            <div class="page-width">
                <h1 class="cover__text cover__text-center">
                    {% comment %} Radically<br/>wearable<br/>jewelry {% endcomment %}
                    Shop All
                </h1>
            </div>
        </header>
    </div>
</div>

<nav class="collection-navigation">
    <ul>
        <li class="active"><a href="{{ shop.url }}/collections/all">All</a></li>
        <li><a href="{{ shop.url }}/collections/rings">Rings</a></li>
        <li><a href="{{ shop.url }}/collections/earrings">Earrings</a></li>
        <li><a href="{{ shop.url }}/collections/necklaces">Necklaces</a></li>
        <li><a href="{{ shop.url }}/collections/bracelets">Bracelets</a></li>
        <li><a href="{{ shop.url }}/collections/charms">Charms</a></li>
        <li><a href="{{ shop.url }}/collections/body-jewelry">Body&nbsp;Jewelry</a></li>
        <li><a href="{{ shop.url }}/collections/wedding">Wedding</a></li>
    </ul>
</nav> {% endcomment %}

<div class="collection-header">
    {% render 'collection-header', tag: 'formasc', name: 'Gift ideas for him, for them, for all.', subheader: 'Solid 14k gold jewelry pieces for everyone that enjoys masculine jewelry.', alt: 'A model wearing several Automic Gold chains, rings, and bracelets all in solid 14k white gold' %}
</div>

<div class="collection-utils page-width">
    {% include 'breadcrumb' %}
    {% include 'collection-sorting' %}
</div>

{% paginate collection.products by 50 %}
    <div class="pgrid page-width">
        {% for product in collection.products %}
            {% include 'product-card' %}
        {% endfor %}

        {% if collection.image %}
            <div class="collection-inline-image">
                <img
                    class="lazyload"
                    data-srcset="
                        {{ collection.image | img_url: '1242x1490' }} 1242w,
                        {{ collection.image | img_url: '1152x1382' }} 1152w,
                        {{ collection.image | img_url: '1035x1241' }} 1035w,
                        {{ collection.image | img_url: '768x921' }} 768w,
                        {{ collection.image | img_url: '600x720' }} 600w
                    "
                    sizes="
                        (max-width: 479px) calc(100vw - 30px),
                        (min-width: 480px) and (max-width: 767.98px) calc(100vw - 60px),
                        (min-width: 768px) and (max-width: 1199.98px) calc((100vw - 120px - 15px) * 0.666667),
                        (min-width: 1200px) calc((100vw - 180px - 30px) * 0.5)
                    "
                    alt="A model sitting with one knee bent wearing various Automic Gold chains, rings, earrings, ear cuffs, bracelets, and nose ring"
                />
            </div>
        {% else %}
            {% include 'wedding-plug' %}
        {% endif %}
    </div>

    {% if paginate.pages > 1 %}
        <div class="collection-pagination pagination">
            {{ paginate | default_pagination}}
        </div>
    {% endif %}

{% endpaginate %}
