{% assign is_collection_sorted = false %}
{% if collection.sort_by and collection.sort_by != '' and collection.sort_by != 'manual' %}
    {% assign is_collection_sorted = true %}
{% endif %}

<style>
    .engagement-header-mobile,
    .engagement-header-desktop {
        padding-bottom: 0;
    }
</style>

{% comment %} <header class="page-cover no--padding engagement-header-mobile">
    <div class="cover engagement-header-image-mobile">
        <div class="cover__image engagement-cover-image">
            <picture>
                {% comment %}iPad-like ratio, width to height ratio of 3/4 to 5/4 (tall image){% endcomment %}
                <source
                    srcset="
                        {{ 'engagement-hand-with-rings.jpg' | file_img_url: '1000x1000' }} 1000w,
                        {{ 'engagement-hand-with-rings.jpg' | file_img_url: '1500x1500' }} 1500w,
                        {{ 'engagement-hand-with-rings.jpg' | file_img_url: '2000x2000' }} 2000w
                    "
                    sizes="100vw"
                    media="(min-aspect-ratio: 3/4) and (max-aspect-ratio: 5/4)"
                />
                {% comment %}Narrow screens, up tp width to height ratio of 3/2 (square image){% endcomment %}
                <source
                    srcset="
                        {{ 'engagement-hand-with-rings.jpg' | file_img_url: '580x812' }} 580w,
                        {{ 'engagement-hand-with-rings.jpg' | file_img_url: '690x966' }} 690w,
                        {{ 'engagement-hand-with-rings.jpg' | file_img_url: '1035x1449' }} 1035w,
                        {{ 'engagement-hand-with-rings.jpg' | file_img_url: '1152x1613' }} 1152w,
                        {{ 'engagement-hand-with-rings.jpg' | file_img_url: '1416x1982' }} 1416w
                    "
                    sizes="100vw"
                    media="(max-aspect-ratio: 3/4)"
                />
                {% comment %}Ratios wider than width to height 3/2 (wide image){% endcomment %}
                <img
                    srcset="
                        {{ 'engagement-hand-with-rings.jpg' | file_img_url: '2000x1280' }} 2000w,
                        {{ 'engagement-hand-with-rings.jpg' | file_img_url: '1538x984' }} 1538w,
                        {{ 'engagement-hand-with-rings.jpg' | file_img_url: '1384x886' }} 1384w,
                        {{ 'engagement-hand-with-rings.jpg' | file_img_url: '769x492' }} 769w
                    "
                    sizes="100vw"
                    alt=""
                />
            </picture>
        </div>
    </div>
    <div class="engagement-header-left">
        <div class="engagement-header-text-container-mobile">
            <div class="engagement-header-text page-width">
                <h1 class="engagement-header-collection">Collection</h1>
                <h1 class="engagement-header-engagement">Engagement</h1>
                <p class="engagement-subheader">
                    Hand-crafted, thoughtfully designed engagement rings that are unique, ethically made and size-inclusive.
                </p>
            </div>
        </div>
        <div class="banner-engagement-rings">
            <img
                srcset="
                    {{ 'engagement-two-rings-graphic.png' | file_img_url: '2000x1280' }} 2000w,
                    {{ 'engagement-two-rings-graphic.png' | file_img_url: '1538x984' }} 1538w,
                    {{ 'engagement-two-rings-graphic.png' | file_img_url: '1384x886' }} 1384w,
                    {{ 'engagement-two-rings-graphic.png' | file_img_url: '769x492' }} 769w
                "
                sizes="100vw"
                alt=""
            />
        </div>
    </div>
</header> {% endcomment %}

{% comment %} <header class="page-cover no--padding engagement-header-desktop">
    <div class="engagement-header-desktop-left">
        <div class="engagement-header-text-container-desktop">
            <div class="engagement-header-text page-width">
                <h1 class="engagement-header-collection">Collection</h1>
                <h1 class="engagement-header-engagement">Engagement</h1>
                <p class="engagement-subheader">
                    Hand-crafted, thoughtfully designed engagement rings that are unique, ethically made and size-inclusive.
                </p>
            </div>
            <img
                srcset="
                    {{ 'engagement-two-rings-graphic.png' | file_img_url: '2000x1280' }} 2000w,
                    {{ 'engagement-two-rings-graphic.png' | file_img_url: '1538x984' }} 1538w,
                    {{ 'engagement-two-rings-graphic.png' | file_img_url: '1384x886' }} 1384w,
                    {{ 'engagement-two-rings-graphic.png' | file_img_url: '769x492' }} 769w
                "
                sizes="100vw"
                alt=""
            />
        </div>
    </div>
    <div class="engagement-header-desktop-right">
        <div class="cover__image">
            <picture>
                {% comment %}iPad-like ratio, width to height ratio of 3/4 to 5/4 (tall image){% endcomment %}
                <source
                    srcset="
                        {{ 'engagement-hand-with-rings.jpg' | file_img_url: '1000x1000' }} 1000w,
                        {{ 'engagement-hand-with-rings.jpg' | file_img_url: '1500x1500' }} 1500w,
                        {{ 'engagement-hand-with-rings.jpg' | file_img_url: '2000x2000' }} 2000w
                    "
                    sizes="100vw"
                    media="(min-aspect-ratio: 3/4) and (max-aspect-ratio: 5/4)"
                />
                {% comment %}Narrow screens, up tp width to height ratio of 3/2 (square image){% endcomment %}
                <source
                    srcset="
                        {{ 'engagement-hand-with-rings.jpg' | file_img_url: '580x812' }} 580w,
                        {{ 'engagement-hand-with-rings.jpg' | file_img_url: '690x966' }} 690w,
                        {{ 'engagement-hand-with-rings.jpg' | file_img_url: '1035x1449' }} 1035w,
                        {{ 'engagement-hand-with-rings.jpg' | file_img_url: '1152x1613' }} 1152w,
                        {{ 'engagement-hand-with-rings.jpg' | file_img_url: '1416x1982' }} 1416w
                    "
                    sizes="100vw"
                    media="(max-aspect-ratio: 3/4)"
                />
                {% comment %}Ratios wider than width to height 3/2 (wide image){% endcomment %}
                <img
                    srcset="
                        {{ 'engagement-hand-with-rings.jpg' | file_img_url: '2000x1280' }} 2000w,
                        {{ 'engagement-hand-with-rings.jpg' | file_img_url: '1538x984' }} 1538w,
                        {{ 'engagement-hand-with-rings.jpg' | file_img_url: '1384x886' }} 1384w,
                        {{ 'engagement-hand-with-rings.jpg' | file_img_url: '769x492' }} 769w
                    "
                    sizes="100vw"
                    alt=""
                />
            </picture>
        </div>
    </div>
</header> {% endcomment %}

<div class="collection-header">
    {% render 'collection-header', tag: 'engagement', name: 'Engagement', subheader: 'Hand-crafted, thoughtfully designed engagement rings that are unique, ethically made and size-inclusive.', alt: 'Close up view of a model&#39;s hand wearing several Automic Gold Engagement Rings stacked on each finger' %}
</div>

<div class="collection-utils page-width">
    {% include 'breadcrumb' %}
    {% include 'collection-sorting' %}
</div>

{% paginate collection.products by 50 %}
    <div class="pgrid page-width">
        {% for product in collection.products %}
            {% include 'product-card' %}
        {% endfor %}

        {% if collection.image %}
            <div class="collection-inline-image">
                <img
                    class="lazyload"
                    data-srcset="
                        {{ collection.image | img_url: '1242x1490' }} 1242w,
                        {{ collection.image | img_url: '1152x1382' }} 1152w,
                        {{ collection.image | img_url: '1035x1241' }} 1035w,
                        {{ collection.image | img_url: '768x921' }} 768w,
                        {{ collection.image | img_url: '600x720' }} 600w
                    "
                    sizes="
                        (max-width: 479px) calc(100vw - 30px),
                        (min-width: 480px) and (max-width: 767.98px) calc(100vw - 60px),
                        (min-width: 768px) and (max-width: 1199.98px) calc((100vw - 120px - 15px) * 0.666667),
                        (min-width: 1200px) calc((100vw - 180px - 30px) * 0.5)
                    "
                    alt="Automic Gold Shop All Radically Wearable Collection"
                />
            </div>
        {% endif %}
        </div>
        
   
    {% if paginate.pages > 1 %}
        <div class="collection-pagination pagination">
            {{ paginate | default_pagination}}
        </div>
    {% endif %}

{% endpaginate %}

{% render 'engagement-plug' %}
{% include 'book-appointment' %}


