{% assign is_collection_sorted = false %}
{% if collection.sort_by and collection.sort_by != '' and collection.sort_by != 'manual' %}
    {% assign is_collection_sorted = true %}
{% endif %}

<div class="page-cover">
    <div class="no--padding">
        <header class="cover">
            <div class="cover__image">
                <picture>
                    {% comment %}iPad-like ratio, width to height ratio of 3/4 to 5/4 (tall image){% endcomment %}
                    <source
                        srcset="
                            {{ 'shop-page-photo--square.jpg' | file_img_url: '1000x1000' }} 1000w,
                            {{ 'shop-page-photo--square.jpg' | file_img_url: '1500x1500' }} 1500w,
                            {{ 'shop-page-photo--square.jpg' | file_img_url: '2000x2000' }} 2000w
                        "
                        sizes="100vw"
                        media="(min-aspect-ratio: 3/4) and (max-aspect-ratio: 5/4)"
                    />


                    {% comment %}Narrow screens, up tp width to height ratio of 3/2 (square image){% endcomment %}
                    <source
                        srcset="
                            {{ 'shop-page-photo--mobile.jpg' | file_img_url: '580x812' }} 580w,
                            {{ 'shop-page-photo--mobile.jpg' | file_img_url: '690x966' }} 690w,
                            {{ 'shop-page-photo--mobile.jpg' | file_img_url: '1035x1449' }} 1035w,
                            {{ 'shop-page-photo--mobile.jpg' | file_img_url: '1152x1613' }} 1152w,
                            {{ 'shop-page-photo--mobile.jpg' | file_img_url: '1416x1982' }} 1416w
                        "
                        sizes="100vw"
                        media="(max-aspect-ratio: 3/4)"
                    />

                    {% comment %}Ratios wider than width to height 3/2 (wide image){% endcomment %}
                    <img
                        srcset="
                            {{ 'shop-page-photo--desktop.jpg' | file_img_url: '2000x1280' }} 2000w,
                            {{ 'shop-page-photo--desktop.jpg' | file_img_url: '1538x984' }} 1538w,
                            {{ 'shop-page-photo--desktop.jpg' | file_img_url: '1384x886' }} 1384w,
                            {{ 'shop-page-photo--desktop.jpg' | file_img_url: '769x492' }} 769w
                        "
                        sizes="100vw"
                        alt="Comfortable necklaces, everyday rings and versatile bracelets worn by a model"
                    />
                </picture>
            </div>

            <div class="page-width">
                <h1 class="cover__text cover__text-center">
                    {{ collection.title }}
                </h1>
            </div>
        </header>
    </div>
</div>

<div class="collection-utils page-width">
    {% include 'breadcrumb' %}
    {% include 'collection-sorting' %}
</div>

{% paginate collection.products by 50 %}
    <div class="pgrid page-width">
        {% for product in collection.products %}
            {% include 'product-card' %}
        {% endfor %}
    </div>

    {% if paginate.pages > 1 %}
        <div class="collection-pagination pagination">
            {{ paginate | default_pagination}}
        </div>
    {% endif %}

{% endpaginate %}
