<div class="no--padding">
    <div class="lookbook-header">
        <div class="lookbook-header__container">
            <span class="lookbook-header__fade" role="presentation">Lookbook</span>
            <h1 class="lookbook-header__title">Lookbook</h1>
            <span class="lookbook-header__fade" role="presentation">Lookbook</span>
        </div>

        <p class="lookbook-header__subtitle">New ways to style your jewelry <br/>in our&nbsp;latest&nbsp;lookbook.</p>
    </div>
</div>

<div class="molecule no--mobile-overlay lookbook-one">
    <div class="molecule__image">
        <img class="lazyload"
             data-srcset="
                {{ 'lookbook-one.jpg' | file_img_url: '1600x2026' }} 1600w,
                {{ 'lookbook-one.jpg' | file_img_url: '1384x1753' }} 1384w,
                {{ 'lookbook-one.jpg' | file_img_url: '1242x1573' }} 1242w,
                {{ 'lookbook-one.jpg' | file_img_url: '1152x1450' }} 1152w,
                {{ 'lookbook-one.jpg' | file_img_url: '1035x1311' }} 1035w,
                {{ 'lookbook-one.jpg' | file_img_url: '960x1216' }} 960w,
                {{ 'lookbook-one.jpg' | file_img_url: '600x760' }} 600w
            "
             sizes="
                (max-width: 767.98px) 100vw,
                (min-width: 768px) and (max-width: 1152px) calc((100vw - 120px) * 0.5),
                (min-width: 1200px) calc((100vw - 180px) * 0.5)
            "
             alt="Automic Gold model wearing a combination of Automic Gold jewelry"
        />
    </div>
    <div class="molecule__text">
        <ul class="lookbook-list">
            <li class="lookbook-list-item"><a href="{{ shop.url }}/products/small-huggie-hoops">Huggie Hoops</a></li>
            <li class="lookbook-list-item"><a href="{{ shop.url }}/collections/birthstone">Birthstone Charm</a></li>
            <li class="lookbook-list-item"><a href="{{ shop.url }}/products/extender">Extender</a></li>
            <li class="lookbook-list-item"><a href="{{ shop.url }}/products/rose-charm">Rose Charm</a></li>
        </ul>
    </div>
</div>

<div class="lookbook-two-three no--mobile-padding">
    <div class="lookbook-two-three__container">
        <div class="lookbook-two__links">
            <ul class="lookbook-list">
                <li class="lookbook-list-item"><a href="{{ shop.url }}/products/small-huggie-hoops">Huggie Hoops</a></li>
                <li class="lookbook-list-item"><a href="{{ shop.url }}/collections/birthstone">Birthstone Charm</a></li>
                <li class="lookbook-list-item"><a href="{{ shop.url }}/products/extender">Extender</a></li>
                <li class="lookbook-list-item"><a href="{{ shop.url }}/products/rose-charm">Rose Charm</a></li>
            </ul>
        </div>
        <img class="lazyload lookbook-two-image"
             data-srcset="
                {{ 'lookbook-two.jpg' | file_img_url: '1600x2026' }} 1600w,
                {{ 'lookbook-two.jpg' | file_img_url: '1384x1753' }} 1384w,
                {{ 'lookbook-two.jpg' | file_img_url: '1242x1573' }} 1242w,
                {{ 'lookbook-two.jpg' | file_img_url: '1152x1450' }} 1152w,
                {{ 'lookbook-two.jpg' | file_img_url: '1035x1311' }} 1035w,
                {{ 'lookbook-two.jpg' | file_img_url: '960x1216' }} 960w,
                {{ 'lookbook-two.jpg' | file_img_url: '600x760' }} 600w
            "
             sizes="
                (max-width: 767.98px) 100vw,
                (min-width: 768px) and (max-width: 1152px) calc((100vw - 120px) * 0.5),
                (min-width: 1200px) calc((100vw - 180px) * 0.5)
            "
             alt="Automic Gold model wearing a combination of Automic Gold earrings on an ear"
        />

        <img class="lazyload lookbook-three-image"
             data-srcset="
                {{ 'lookbook-three.jpg' | file_img_url: '1600x2026' }} 1600w,
                {{ 'lookbook-three.jpg' | file_img_url: '1384x1753' }} 1384w,
                {{ 'lookbook-three.jpg' | file_img_url: '1242x1573' }} 1242w,
                {{ 'lookbook-three.jpg' | file_img_url: '1152x1450' }} 1152w,
                {{ 'lookbook-three.jpg' | file_img_url: '1035x1311' }} 1035w,
                {{ 'lookbook-three.jpg' | file_img_url: '960x1216' }} 960w,
                {{ 'lookbook-three.jpg' | file_img_url: '600x760' }} 600w
            "
             sizes="
                (max-width: 767.98px) 100vw,
                (min-width: 768px) and (max-width: 1152px) calc((100vw - 120px) * 0.6),
                (min-width: 1200px) calc((100vw - 180px) * 0.6)
            "
             alt="Automic Gold model highlighting stacked, accent and knuckle rings"
        />

        <div class="lookbook-two-three__links">
            <ul class="lookbook-list">
                <li class="lookbook-list-item"><a href="{{ shop.url }}/products/bead-chain-ring">Chain Ring</a></li>
                <li class="lookbook-list-item"><a href="{{ shop.url }}/products/line-ring">Line Ring</a></li>
                <li class="lookbook-list-item"><a href="{{ shop.url }}/products/love-knot-ring">Love Knot Ring</a></li>
                <li class="lookbook-list-item"><a href="{{ shop.url }}/products/wave-ring">Wave Ring</a></li>
                <li class="lookbook-list-item"><a href="{{ shop.url }}/products/open-circle-ring">Open Circle Ring</a></li>
            </ul>
        </div>

        <img class="lazyload lookbook-three-bg"
             data-srcset="
                {{ 'lookbook-three--bg.jpg' | file_img_url: '1600x2026' }} 1600w,
                {{ 'lookbook-three--bg.jpg' | file_img_url: '1384x1753' }} 1384w,
                {{ 'lookbook-three--bg.jpg' | file_img_url: '1242x1573' }} 1242w,
                {{ 'lookbook-three--bg.jpg' | file_img_url: '1152x1450' }} 1152w,
                {{ 'lookbook-three--bg.jpg' | file_img_url: '1035x1311' }} 1035w,
                {{ 'lookbook-three--bg.jpg' | file_img_url: '960x1216' }} 960w,
                {{ 'lookbook-three--bg.jpg' | file_img_url: '600x760' }} 600w
            "
             sizes="
                (max-width: 767.98px) 100vw,
                (min-width: 768px) and (max-width: 1152px) calc((100vw - 120px) * 0.75),
                (min-width: 1200px) calc((100vw - 180px) * 0.75)
            "
             alt="Automic Gold sustainable, ethically made in New York City jewelry"
        />
    </div>
</div>


<div class="no--padding lookbook-four">
    <div class="page-width lookbook-four-container">
        <img class="lazyload lookbook-four-image"
             data-srcset="
                {{ 'lookbook-four.jpg' | file_img_url: '1600x2026' }} 1600w,
                {{ 'lookbook-four.jpg' | file_img_url: '1384x1753' }} 1384w,
                {{ 'lookbook-four.jpg' | file_img_url: '1242x1573' }} 1242w,
                {{ 'lookbook-four.jpg' | file_img_url: '1152x1450' }} 1152w,
                {{ 'lookbook-four.jpg' | file_img_url: '1035x1311' }} 1035w,
                {{ 'lookbook-four.jpg' | file_img_url: '960x1216' }} 960w,
                {{ 'lookbook-four.jpg' | file_img_url: '600x760' }} 600w
            "
             sizes="
                (max-width: 767.98px) 100vw,
                (min-width: 768px) and (max-width: 1152px) calc((100vw - 120px) * 0.9),
                (min-width: 1200px) calc((100vw - 180px) * 0.9)
            "
             alt="Automic Gold model showing rings on a plant background"
        />
        <h3 class="lookbook-four__statement">Made locally in NYC</h3>
    </div>
</div>


<div class="lookbook-five-six">
    <div class="lookbook-five-six__container">
        <img class="lazyload lookbook-five-image"
             data-srcset="
                {{ 'lookbook-five.jpg' | file_img_url: '1600x2026' }} 1600w,
                {{ 'lookbook-five.jpg' | file_img_url: '1384x1753' }} 1384w,
                {{ 'lookbook-five.jpg' | file_img_url: '1242x1573' }} 1242w,
                {{ 'lookbook-five.jpg' | file_img_url: '1152x1450' }} 1152w,
                {{ 'lookbook-five.jpg' | file_img_url: '1035x1311' }} 1035w,
                {{ 'lookbook-five.jpg' | file_img_url: '960x1216' }} 960w,
                {{ 'lookbook-five.jpg' | file_img_url: '600x760' }} 600w
            "
             sizes="
                (max-width: 767.98px) 100vw,
                (min-width: 768px) and (max-width: 1152px) calc((100vw - 120px) * 0.5),
                (min-width: 1200px) calc((100vw - 180px) * 0.5)
            "
             alt="Automic Gold model making a heart sign with their hands with New York City in the background"
        />

        <img class="lazyload lookbook-six-image"
             data-srcset="
                {{ 'lookbook-six.jpg' | file_img_url: '1600x2026' }} 1600w,
                {{ 'lookbook-six.jpg' | file_img_url: '1384x1753' }} 1384w,
                {{ 'lookbook-six.jpg' | file_img_url: '1242x1573' }} 1242w,
                {{ 'lookbook-six.jpg' | file_img_url: '1152x1450' }} 1152w,
                {{ 'lookbook-six.jpg' | file_img_url: '1035x1311' }} 1035w,
                {{ 'lookbook-six.jpg' | file_img_url: '960x1216' }} 960w,
                {{ 'lookbook-six.jpg' | file_img_url: '600x760' }} 600w
            "
             sizes="
                (max-width: 767.98px) 100vw,
                (min-width: 768px) and (max-width: 1152px) calc((100vw - 120px) * 0.5),
                (min-width: 1200px) calc((100vw - 180px) * 0.5)
            "
             alt="Automic Gold model wearing a combination of mixable and stackable jewelry"
        />

        <div class="lookbook-five-six__links">
            <ul class="lookbook-list">
                <li class="lookbook-list-item"><a href="{{ shop.url }}/products/baby-necklace">Baby Necklace</a></li>
                <li class="lookbook-list-item"><a href="{{ shop.url }}/products/that-bitch-pendant">That Bitch Charm</a></li>
                <li class="lookbook-list-item"><a href="{{ shop.url }}/products/bead-necklace">Bead Necklace</a></li>
            </ul>
        </div>

        <img class="lazyload lookbook-six-bg"
             data-srcset="
                {{ 'lookbook-six--bg.jpg' | file_img_url: '1600x2026' }} 1600w,
                {{ 'lookbook-six--bg.jpg' | file_img_url: '1384x1753' }} 1384w,
                {{ 'lookbook-six--bg.jpg' | file_img_url: '1242x1573' }} 1242w,
                {{ 'lookbook-six--bg.jpg' | file_img_url: '1152x1450' }} 1152w,
                {{ 'lookbook-six--bg.jpg' | file_img_url: '1035x1311' }} 1035w,
                {{ 'lookbook-six--bg.jpg' | file_img_url: '960x1216' }} 960w,
                {{ 'lookbook-six--bg.jpg' | file_img_url: '600x760' }} 600w
            "
             sizes="
                (max-width: 767.98px) 100vw,
                (min-width: 768px) and (max-width: 1152px) calc((100vw - 120px) * 0.5),
                (min-width: 1200px) calc((100vw - 180px) * 0.5)
            "
             alt="Automic Gold model wearing a combination of Automic Gold jewelry"
        />
    </div>
</div>

<div class="lookbook-cta">
    <h3>Got looks? Tag us in your pics</h3>

    <p>Instagram: <a href="https://www.instagram.com/automicgold/">@automicgold</a></p>
</div>
