<article class="size-guide">
    <div class="page-width hero">
        <div class="inner">
            <div class="text-block">
                <h1>How To Find<br/>Your Size</h1>
                <p>
                    Here is an easy guide to finding what your size is for your future rings, bracelets, and anklets.
                </p>
            </div>

            <div class="image-block">
                <img src="{{ 'sizing--hero.png' | file_url }}" alt="A model's hand wearing Automic Gold rings, a model wearing Automic Gold bracelets, and two Line Septums on a blue background" />
            </div>
        </div>

        <nav id="sizeScrollNav" class="spaced--twice scroll-navigation">
            <ul>
                <li class="scroll-item active" data-scroll="ring">Ring</li>
                <li class="scroll-item" data-scroll="nose-ring">Nose Ring</li>
                <li class="scroll-item" data-scroll="flatback">Flatback</li>
                <li class="scroll-item" data-scroll="necklace">Necklace</li>
                <li class="scroll-item" data-scroll="bracelet">Bracelet</li>
                <li class="scroll-item" data-scroll="anklet">Anklet</li>
            </ul>
        </nav>
    </div>

    <div class="page-width sizing-section ring" data-anchor="ring">
        <div class="inner">
            <div class="text-block">
                <h2>How To Find Your Ring Size</h2>
                <p>
                    With the help of our <a href="{{ shop.url }}/products/ring-sizer" target="_BLANK" title="Automic Gold Ring Sizer">ring sizer</a>, use this guide to determine what size you are. Watch video for our quick how to video:
                </p>
            </div>

            <iframe width="560" height="315" src="https://www.youtube.com/embed/zb68zDl0Rp4" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen=""></iframe>

            <div class="text-block">
                <img class="graphic left" src="{{ 'ring-graphic.png' | file_url }}" alt="Graphic of Automic Gold ring" />
                <img class="graphic right" src="{{ 'piercing-graphic.png' | file_url }}" alt="Graphic of Automic Gold piercing" />

                <h2>Make Sure To Tighten The Sizer After Your Knuckle For A More Accurate Size.</h2>
                <p>
                    For the double digits on the ring sizer, here is a break down:
                </p>
            </div>

            <img src="{{ 'ring-sizer.png' | file_url }}" alt="Close up view the Automic Gold Ring Sizer showing sizes 1 through 17 with text indicating Whole and Half sizes" />
        </div>
        <img class="divider" src="{{ 'blob-divider.png' | file_url }}" />
    </div>

    <div class="page-width sizing-section nose-ring spaced--twice" data-anchor="nose-ring">
        <div class="inner">
            <div class="text-block">
                <h2>Nose Ring Sizing</h2>
                <p>
                    Measure from your hole piercing to the edge of your nose to find the right size. 
                </p>
            </div>

            <div class="image-block">
                <img class="desktop" src="{{ 'sizing--nose.png' | file_url }}" alt="Two smiling models wearing different Automic Gold septum rings and nose rings; Inset of two Nose Rings on a blue background" />
                <img class="mobile" src="{{ 'sizing--nose-mobile.png' | file_url }}" alt="Two smiling models wearing different Automic Gold septum rings and nose rings; Inset of two Nose Rings on a blue background" />
            </div>
        </div>
    </div>

    <div class="page-width sizing-section flatback spaced--twice" data-anchor="flatback">
        <div class="inner">
            <div class="text-block">
                <h2>Flatback Sizing</h2>
                <p>
                    Measure the length between the two holes of your piercing using a ruler or caliper. Otherwise check with your piercer for which length suits your needs.
                </p>
            </div>

            <div class="image-block">
                <img class="desktop sizing-img-stroke-desktop" src="{{ 'sizing--flatback.jpg' | file_url }}" alt="A 14k yellow gold Butterfly Flatback Piercing on a blue background" />
                <img class="mobile sizing-img-stroke-mobile" src="{{ 'sizing--flatback.jpg' | file_url }}" alt="A 14k yellow gold Butterfly Flatback Piercing on a blue background" />
            </div>
        </div>
    </div>

    <div class="page-width sizing-section necklace spaced--twice" data-anchor="necklace">
        <div class="inner">
            <div class="text-block">
                <h2>Necklace Sizing</h2>
                <p>
                    For necklaces/chokers: Measure in inches the length of a chain you already have or use a soft tape measure around your neck to where you want your chain to sit.
                </p>
            </div>

            <div class="image-block">
                <img class="desktop" src="{{ 'sizing--necklace.png' | file_url }}" alt="Close up view of a solid 14k yellow gold Tanlah Chain on a blue background" />
                <img class="mobile" src="{{ 'sizing--necklace-mobile.png' | file_url }}" alt="Close up view of a solid 14k yellow gold Tanlah Chain on a blue background" />
            </div>
        </div>
    </div>

    <div class="page-width sizing-section bracelet spaced--twice" data-anchor="bracelet">
        <div class="inner">

            <div class="text-block">
                <h2>Bracelet Sizing</h2>
                <p>
                    Wrap a soft measuring tape around your wrist leaving room to add one finger so your bracelet won’t be too tight or loose.
                </p>
            </div>

            <div class="image-block">
                <img class="desktop sizing-img-stroke-desktop" src="{{ 'sizing--bracelet.jpg' | file_url }}" alt="Close up view of a model's hand wearing a Line Bangle, a Bound Together, and a Custom Bracelet: Inset of a Curb Bracelet" />
                <img class="mobile sizing-img-stroke-mobile" src="{{ 'sizing--bracelet.jpg' | file_url }}" alt="Close up view of a model's hand wearing a Line Bangle, a Bound Together, and a Custom Bracelet: Inset of a Curb Bracelet" />
            </div>
        </div>
    </div>

    <div class="page-width sizing-section anklet spaced--twice" data-anchor="anklet">
        <div class="inner">
            <h2>How To Find Your Anklet Size</h2>

            <p>
                Wrap a soft tape measure around your ankle to get your size in inches. Then add an extra quarter of an inch (0.25”) to get your anklet size. This way, your anklet won't be too tight or too loose.
            </p>

            <img class="desktop" src="{{ 'sizing--anklet.png' | file_url }}" alt="Close up view of model's legs wearing a Bead Anklet, an Essential Anklet and a Butch Anklet on one ankle" />
            <img class="mobile" src="{{ 'sizing--anklet-mobile.png' | file_url }}" alt="Close up view of model's legs wearing a Bead Anklet, an Essential Anklet and a Butch Anklet on one ankle" />
        </div>
    </div>
</article>
