<div class="page-cover">
    <div class="no--padding">
        <div class="faq-header">
            <picture>
                <source
                    srcset="
                        {{ 'faq-page-header--desktop.jpg' | file_img_url: '580x960' }} 580w,
                        {{ 'faq-page-header--desktop.jpg' | file_img_url: '690x416' }} 690w,
                        {{ 'faq-page-header--desktop.jpg' | file_img_url: '1035x625' }} 1035w,
                        {{ 'faq-page-header--desktop.jpg' | file_img_url: '1152x696' }} 1152w,
                        {{ 'faq-page-header--desktop.jpg' | file_img_url: '1416x855' }} 1416w
                    "
                    sizes="100vw"
                    media="(max-width: 767.98px)"
                />

                <img
                    srcset="
                        {{ 'faq-page-header--desktop.jpg' | file_img_url: '2000x1037' }} 2000w,
                        {{ 'faq-page-header--desktop.jpg' | file_img_url: '1500x778' }} 1500w,
                        {{ 'faq-page-header--desktop.jpg' | file_img_url: '1384x717' }} 1384w,
                        {{ 'faq-page-header--desktop.jpg' | file_img_url: '769x398' }} 769w
                    "
                    sizes="100vw"
                    alt="Close-up view of two models standing side by side wearing Automic Gold earrings and ear cuffs"
                />
            </picture>

            <div class="page-width faq-header__title">
                <h1>
                  Frequently Asked Questions
                </h1>
            </div>
        </div>
        <div class="faq-header-mobile">
            <picture>
                <source
                    srcset="
                        {{ 'faq-page-header.jpg' | file_img_url: '580x960' }} 580w,
                        {{ 'faq-page-header.jpg' | file_img_url: '690x416' }} 690w,
                        {{ 'faq-page-header.jpg' | file_img_url: '1035x625' }} 1035w,
                        {{ 'faq-page-header.jpg' | file_img_url: '1152x696' }} 1152w,
                        {{ 'faq-page-header.jpg' | file_img_url: '1416x855' }} 1416w
                    "
                    sizes="100vw"
                    media="(max-width: 767.98px)"
                />

                <img
                    srcset="
                        {{ 'faq-page-header.jpg' | file_img_url: '2000x1037' }} 2000w,
                        {{ 'faq-page-header.jpg' | file_img_url: '1500x778' }} 1500w,
                        {{ 'faq-page-header.jpg' | file_img_url: '1384x717' }} 1384w,
                        {{ 'faq-page-header.jpg' | file_img_url: '769x398' }} 769w
                    "
                    sizes="100vw"
                    alt="Close-up view of two models standing side by side wearing Automic Gold earrings and ear cuffs"
                />
            </picture>

            <div class="page-width faq-header__title">
                <h1>
                    Frequently Asked Questions
                </h1>
            </div>
        </div>
    </div>
</div>

<div class="spaced--twice">
    <section class="faq-questions">
        <!-- TABS --> <!-- aria-current? -->
        <div class="faq-questions__tabs">
            <ul class="faq-questions__tab-list">
                <li class="faq-questions__tab-item active" data-category="general">General</li>
                <li class="faq-questions__tab-item" data-category="shipping">Shipping</li>
                <li class="faq-questions__tab-item" data-category="repairs">Repairs</li>
                <li class="faq-questions__tab-item" data-category="returns">Returns</li>
                <li class="faq-questions__tab-item" data-category="customs">Customs</li>
            </ul>
        </div>

        <div class="faq-questions__body">

            <!-- GENERAL SECTION --> 
            <div class="faq-questions__body-items active" data-category="general">
                <!-- questions and answers -->
                <div class="faq-questions__body-item">
                    <button class="btn faq-questions__btn" type="button" data-target="#general1" aria-expanded="false" aria-controls="general1">
                        "How do I find my bracelet, anklet, or choker size?"

                        <svg width="40" viewBox="0 0 24 24" aria-hidden="true">
                            <path d="M16.59 8.59L12 13.17 7.41 8.59 6 10l6 6 6-6-1.41-1.41z"/>
                        </svg>
                    </button>
                    
                    <div id="general1" class="faq-questions__answer-block">
                        <div class="faq-questions__answer-card">
                            We offer many tips on finding your right size, you can see sizing help 
                            <a target="_BLANK" title="Automic Gold Sizing Guide" href="https://www.automicgold.com/pages/sizing">here</a>. 
                            For bracelets/anklets: Measure your wrist or ankle with a soft tape measure leaving about a fingers-width of room so it isn’t too tight or loose. 
                            For necklaces/chokers: Measure in inches the length of a chain you already have or use a soft tape measure around your neck to where you want your chain to sit.
                        </div>
                    </div>
                </div>

                <div class="faq-questions__body-item">
                    <button class="btn faq-questions__btn" type="button" data-target="#general2" aria-expanded="false" aria-controls="general2">
                        “I don’t know my size, should I order a ring sizer from you?”

                        <svg width="40" viewBox="0 0 24 24" aria-hidden="true">
                            <path d="M16.59 8.59L12 13.17 7.41 8.59 6 10l6 6 6-6-1.41-1.41z"/>
                        </svg>
                    </button>
                    
                    <div id="general2" class="faq-questions__answer-block">
                        <div class="faq-questions__answer-card">
                            It is not necessary to order a ring sizer from us, especially if your order is time sensitive. All ring sizers are in the standard size. If you don’t know your size go to a local jewelry shop or purchase a ring sizer locally. 
                        </div>
                    </div>
                </div>

                <div class="faq-questions__body-item">
                    <button class="btn faq-questions__btn" type="button" data-target="#general-modify" aria-expanded="false"
                        aria-controls="general3">
                        “Can I modify an item in your collection?”
                
                        <svg width="40" viewBox="0 0 24 24" aria-hidden="true">
                            <path d="M16.59 8.59L12 13.17 7.41 8.59 6 10l6 6 6-6-1.41-1.41z" />
                        </svg>
                    </button>
                
                    <div id="general-modify" class="faq-questions__answer-block">
                        <div class="faq-questions__answer-card">
                            Yes! We can customize almost any of our products. You can <a title="Email Automic Gold Care" href="mailto:care@automicgold.com">Contact Us</a> for any customization requests. However, any
                            modified jewelry will become final sale and will no longer be eligible for return or exchange.
                        </div>
                    </div>
                </div>

                <div class="faq-questions__body-item">
                    <button class="btn faq-questions__btn" type="button" data-target="#general3" aria-expanded="false" aria-controls="general3">
                        “Can my order be canceled?”

                        <svg width="40" viewBox="0 0 24 24" aria-hidden="true">
                            <path d="M16.59 8.59L12 13.17 7.41 8.59 6 10l6 6 6-6-1.41-1.41z"/>
                        </svg>
                    </button>
                    
                    <div id="general3" class="faq-questions__answer-block">
                        <div class="faq-questions__answer-card">
                            Yes, we will cancel an order that has not been shipped. If the order was shipped please refuse the package upon delivery. 
                            When it comes back to us we will issue a refund.  Custom and engraved jewelry cannot be canceled.
                        </div>
                    </div>
                </div>

                <div class="faq-questions__body-item">
                    <button class="btn faq-questions__btn" type="button" data-target="#general4" aria-expanded="false" aria-controls="general4">
                        “Can you change the shipping address?”

                        <svg width="40" viewBox="0 0 24 24" aria-hidden="true">
                            <path d="M16.59 8.59L12 13.17 7.41 8.59 6 10l6 6 6-6-1.41-1.41z"/>
                        </svg>
                    </button>
                    
                    <div id="general4" class="faq-questions__answer-block">
                        <div class="faq-questions__answer-card">
                            We cannot change shipping address once an order has been placed. The fulfillment will be cancelled and you can place a new order with the updated shipping address. 
                        </div>
                    </div>
                </div>

                <div class="faq-questions__body-item">
                    <button class="btn faq-questions__btn" type="button" data-target="#general5" aria-expanded="false" aria-controls="general5">
                        “I put the wrong billing address, can you change it?”

                        <svg width="40" viewBox="0 0 24 24" aria-hidden="true">
                            <path d="M16.59 8.59L12 13.17 7.41 8.59 6 10l6 6 6-6-1.41-1.41z"/>
                        </svg>
                    </button>
                    
                    <div id="general5" class="faq-questions__answer-block">
                        <div class="faq-questions__answer-card">
                            Unfortunately, we have no way of changing the billing address. If you received an order confirmation email then the 
                            order went through without any issues and we are working on getting your order to you. 
                        </div>
                    </div>
                </div>

                <div class="faq-questions__body-item">
                    <button class="btn faq-questions__btn" type="button" data-target="#general6" aria-expanded="false" aria-controls="general6">
                        “I did not receive an order confirmation and my card was charged.”

                        <svg width="40" viewBox="0 0 24 24" aria-hidden="true">
                            <path d="M16.59 8.59L12 13.17 7.41 8.59 6 10l6 6 6-6-1.41-1.41z"/>
                        </svg>
                    </button>
                    
                    <div id="general6" class="faq-questions__answer-block">
                        <div class="faq-questions__answer-card">
                            Please double-check the email address you used and spam folders. The confirmation may have gone to an email address 
                            you don’t frequently use. If you are still unable to find the order confirmation, it is likely the order did not go 
                            through. The charge on your card will drop off in 2-3 business days, if it does not, please contact your bank for 
                            further details.
                        </div>
                    </div>
                </div>

                <div class="faq-questions__body-item">
                    <button class="btn faq-questions__btn" type="button" data-target="#general7" aria-expanded="false" aria-controls="general7">
                        “I chose the wrong metal color/size/initial, can you change it?” 

                        <svg width="40" viewBox="0 0 24 24" aria-hidden="true">
                            <path d="M16.59 8.59L12 13.17 7.41 8.59 6 10l6 6 6-6-1.41-1.41z"/>
                        </svg>
                    </button>
                    
                    <div id="general7" class="faq-questions__answer-block">
                        <div class="faq-questions__answer-card">
                            If the order has not been shipped, we can make changes. We only ask that you contact us in a timely manner. Engraved and final sale items can not be changed.
                        </div>
                    </div>
                </div>

                <div class="faq-questions__body-item">
                    <button class="btn faq-questions__btn" type="button" data-target="#general8" aria-expanded="false" aria-controls="general8">
                        “What fonts do you offer for engraving?”

                        <svg width="40" viewBox="0 0 24 24" aria-hidden="true">
                            <path d="M16.59 8.59L12 13.17 7.41 8.59 6 10l6 6 6-6-1.41-1.41z"/>
                        </svg>
                    </button>
                    
                    <div id="general8" class="faq-questions__answer-block">
                        <div class="faq-questions__answer-card">
                            We automatically do a block font. We do not offer a list of fonts but we can do any free font that can easily be retrieved. 
                            It is encouraged to provide the name and style for reference. We can also engrave in other languages. 
                        </div>
                    </div>
                </div>

                <div class="faq-questions__body-item">
                    <button class="btn faq-questions__btn" type="button" data-target="#general9" aria-expanded="false" aria-controls="general9">
                        “I have a metal allergy, can I wear your jewelry?”

                        <svg width="40" viewBox="0 0 24 24" aria-hidden="true">
                            <path d="M16.59 8.59L12 13.17 7.41 8.59 6 10l6 6 6-6-1.41-1.41z"/>
                        </svg>
                    </button>
                    
                    <div id="general9" class="faq-questions__answer-block">
                        <div class="faq-questions__answer-card">
                            It depends on the metals you’re allergic to. If you have a nickel allergy, it is best to order yellow gold or rose gold 
                            items as white gold contains a small amount of nickel. You can view the breakdown of metal percentages <a title="Automic Blog: Why Does Gold Have Different Colors?" target="_BLANK" href="https://www.automicgold.com/blogs/automic-blog/why-does-gold-have-different-colors">here</a>.
                        </div>
                    </div>
                </div>

                <div class="faq-questions__body-item">
                    <button class="btn faq-questions__btn" type="button" data-target="#general10" aria-expanded="false" aria-controls="general10">
                        “I emailed and haven’t heard back.”

                        <svg width="40" viewBox="0 0 24 24" aria-hidden="true">
                            <path d="M16.59 8.59L12 13.17 7.41 8.59 6 10l6 6 6-6-1.41-1.41z"/>
                        </svg>
                    </button>
                    
                    <div id="general10" class="faq-questions__answer-block">
                        <div class="faq-questions__answer-card">
                            We operate Monday-Tuesday and Thursday-Friday from 9am - 5pm, with the exclusion of holidays. Your email is important to us and it is our intention 
                            to connect in a timely manner. We do experience high volume orders and emails, your patience and cooperation is greatly appreciated. 
                        
                        </div>
                    </div>
                </div>

                <div class="faq-questions__body-item">
                    <button class="btn faq-questions__btn" type="button" data-target="#general11" aria-expanded="false" aria-controls="general11">
                        “Do you offer in person pick-ups?”

                        <svg width="40" viewBox="0 0 24 24" aria-hidden="true">
                            <path d="M16.59 8.59L12 13.17 7.41 8.59 6 10l6 6 6-6-1.41-1.41z"/>
                        </svg>
                    </button>
                    
                    <div id="general11" class="faq-questions__answer-block">
                        <div class="faq-questions__answer-card">
                            Please contact us for further information. 
                        </div>
                    </div>
                </div>

                <div class="faq-questions__body-item">
                    <button class="btn faq-questions__btn" type="button" data-target="#general12" aria-expanded="false" aria-controls="general12">
                        "I would like to collaborate with Automic Gold, who do I reach out to?"

                        <svg width="40" viewBox="0 0 24 24" aria-hidden="true">
                            <path d="M16.59 8.59L12 13.17 7.41 8.59 6 10l6 6 6-6-1.41-1.41z"/>
                        </svg>
                    </button>
                    
                    <div id="general12" class="faq-questions__answer-block">
                        <div class="faq-questions__answer-card">
                            For all collabs please reach out to <a title="Email Automic Gold" href="mailto:hello@automicgold.com">hello@automicgold.com</a>. We will reach back out if we see that it's a good fit.
                        </div>
                    </div>
                </div>

                <div class="faq-questions__body-item">
                    <button class="btn faq-questions__btn" type="button" data-target="#general13" aria-expanded="false" aria-controls="general13">
                        “I thought this is solid gold, why is it changing color/tarnishing?”

                        <svg width="40" viewBox="0 0 24 24" aria-hidden="true">
                            <path d="M16.59 8.59L12 13.17 7.41 8.59 6 10l6 6 6-6-1.41-1.41z"/>
                        </svg>
                    </button>
                    
                    <div id="general13" class="faq-questions__answer-block">
                        <div class="faq-questions__answer-card">
                            This is totally normal and we can assure you it’s only “dirt”. This tends to happen mostly with earring posts. 
                            The mixture and accumulation of our natural bodily/external oils, bacteria and chemicals from product build up 
                            can cause the discoloration. Simply rub the posts with jewelry polishing cloth to clean it.
                        </div>
                    </div>
                </div>

                <div class="faq-questions__body-item">
                    <button class="btn faq-questions__btn" type="button" data-target="#general14" aria-expanded="false" aria-controls="general14">
                        “Do you offer internships?” 

                        <svg width="40" viewBox="0 0 24 24" aria-hidden="true">
                            <path d="M16.59 8.59L12 13.17 7.41 8.59 6 10l6 6 6-6-1.41-1.41z"/>
                        </svg>
                    </button>
                    
                    <div id="general14" class="faq-questions__answer-block">
                        <div class="faq-questions__answer-card">
                            We are thrilled that you’re interested but unfortunately, we do not offer internships. We hire full time and long term employees. 
                        </div>
                    </div>
                </div>

                <div class="faq-questions__body-item">
                    <button class="btn faq-questions__btn" type="button" data-target="#general15" aria-expanded="false" aria-controls="general15">
                        “Do you offer wholesale?”

                        <svg width="40" viewBox="0 0 24 24" aria-hidden="true">
                            <path d="M16.59 8.59L12 13.17 7.41 8.59 6 10l6 6 6-6-1.41-1.41z"/>
                        </svg>
                    </button>
                    
                    <div id="general15" class="faq-questions__answer-block">
                        <div class="faq-questions__answer-card">
                            At the moment we do not have the capability. 
                        </div>
                    </div>
                </div>

                <div class="faq-questions__body-item">
                    <button class="btn faq-questions__btn" type="button" data-target="#general16" aria-expanded="false" aria-controls="general16">
                        “What items are final sale?”

                        <svg width="40" viewBox="0 0 24 24" aria-hidden="true">
                            <path d="M16.59 8.59L12 13.17 7.41 8.59 6 10l6 6 6-6-1.41-1.41z"/>
                        </svg>
                    </button>
                    
                    <div id="general16" class="faq-questions__answer-block">
                        <div class="faq-questions__answer-card">
                            All custom, engraved or any modified items are considered final sale. All pierced body jewelry is also final sale.
                        </div>
                    </div>
                </div>

                <div class="faq-questions__body-item">
                    <button class="btn faq-questions__btn" type="button" data-target="#general17" aria-expanded="false" aria-controls="general17">
                        “What is Route?”

                        <svg width="40" viewBox="0 0 24 24" aria-hidden="true">
                            <path d="M16.59 8.59L12 13.17 7.41 8.59 6 10l6 6 6-6-1.41-1.41z"/>
                        </svg>
                    </button>
                    
                    <div id="general17" class="faq-questions__answer-block">
                        <div class="faq-questions__answer-card">
                            Route is a package protection company that offers protection against lost, stolen or damaged packages. It also gives up-to-date tracking information for your order once it ships. For more information, check out <a target="_BLANK" aria-label="Learn more about Route" href="https://route.com/">Route</a>.
                        </div>
                    </div>
                </div>

                <div class="faq-questions__body-item">
                    <button class="btn faq-questions__btn" type="button" data-target="#general18" aria-expanded="false"
                        aria-controls="general18">
                        “Can I cancel/make changes to my customized or engraved order?”
                
                        <svg width="40" viewBox="0 0 24 24" aria-hidden="true">
                            <path d="M16.59 8.59L12 13.17 7.41 8.59 6 10l6 6 6-6-1.41-1.41z" />
                        </svg>
                    </button>
                
                    <div id="general18" class="faq-questions__answer-block">
                        <div class="faq-questions__answer-card">
                            Once you place the customized/engraved order - it enters the production stage and it is final sale. We can not do any modifications or cancelation.
                        </div>
                    </div>
                </div>

                <div class="faq-questions__body-item">
                    <button class="btn faq-questions__btn" type="button" data-target="#general19" aria-expanded="false"
                        aria-controls="general19">
                        “What forms of payment do you take?”
                
                        <svg width="40" viewBox="0 0 24 24" aria-hidden="true">
                            <path d="M16.59 8.59L12 13.17 7.41 8.59 6 10l6 6 6-6-1.41-1.41z" />
                        </svg>
                    </button>
                
                    <div id="general19" class="faq-questions__answer-block">
                        <div class="faq-questions__answer-card">
                            We accept all major credit & debit cards, PayPal, Shop Pay, Affirm & AfterPay.
                        </div>
                    </div>
                </div>

               <div class="faq-questions__body-item">
                    <button class="btn faq-questions__btn" type="button" data-target="#general20" aria-expanded="false" aria-controls="general1">
                        "Do you have a warranty?"

                        <svg width="40" viewBox="0 0 24 24" aria-hidden="true">
                            <path d="M16.59 8.59L12 13.17 7.41 8.59 6 10l6 6 6-6-1.41-1.41z"/>
                        </svg>
                    </button>                  
                    <div id="general20" class="faq-questions__answer-block">
                        <div class="faq-questions__answer-card">
                            Yep! All of our pieces come with a <a href="https://www.automicgold.com/pages/lifetime-warranty" target="_blank">limited lifetime warranty</a> that covers manufacturer defects for up to three years after receipt. We don’t cover normal wear & tear, loss, or loss of parts, and all warranties are voided if your item has been modified by other jewelers. If you notice any loose stones or suspicious defects, <a href="mailto:care@automicgold.com">let us know</a> right away. We recommend getting insurance for all jewelry over $10,000. 
                        </div>
                    </div>
                </div>

            </div>
            
            <!-- SHIPPING SECTION --> 
            <div class="faq-questions__body-items" data-category="shipping">
                <!-- questions and answers -->
                <div class="faq-questions__body-item">
                    <button class="btn faq-questions__btn" type="button" data-target="#shipping1" aria-expanded="false" aria-controls="shipping1">
                        "Do you ship internationally?"

                        <svg width="40" viewBox="0 0 24 24" aria-hidden="true">
                            <path d="M16.59 8.59L12 13.17 7.41 8.59 6 10l6 6 6-6-1.41-1.41z"/>
                        </svg>
                    </button>
                    
                    <div id="shipping1" class="faq-questions__answer-block">
                        <div class="faq-questions__answer-card">
                            Yes! We ship worldwide to many countries including all of Canada and Mexico.
                        </div>
                    </div>
                </div>

                <div class="faq-questions__body-item">
                    <button class="btn faq-questions__btn" type="button" data-target="#shipping2" aria-expanded="false" aria-controls="shipping2">
                        "When will my order ship?"

                        <svg width="40" viewBox="0 0 24 24" aria-hidden="true">
                            <path d="M16.59 8.59L12 13.17 7.41 8.59 6 10l6 6 6-6-1.41-1.41z"/>
                        </svg>
                    </button>
                    
                    <div id="shipping2" class="faq-questions__answer-block">
                        <div class="faq-questions__answer-card">
                            Normally, orders take 2-5 business days to ship. When experiencing higher than normal order volumes, shipping may take longer 
                            than expected. If you need your order sooner please contact us to upgrade your shipping method - additional shipping fees may 
                            apply. 
                        </div>
                    </div>
                </div>

                <div class="faq-questions__body-item">
                    <button class="btn faq-questions__btn" type="button" data-target="#shipping3" aria-expanded="false" aria-controls="shipping3">
                        “I placed a custom order, when will it ship?” 

                        <svg width="40" viewBox="0 0 24 24" aria-hidden="true">
                            <path d="M16.59 8.59L12 13.17 7.41 8.59 6 10l6 6 6-6-1.41-1.41z"/>
                        </svg>
                    </button>
                    
                    <div id="shipping3" class="faq-questions__answer-block">
                        <div class="faq-questions__answer-card">
                            Please contact our custom department <a target="_BLANK" href="https://www.automicgold.com/pages/custom-orders" title="Automic Gold Custom Orders">here</a> for all custom related questions. 
                        </div>
                    </div>
                </div>

                <div class="faq-questions__body-item">
                    <button class="btn faq-questions__btn" type="button" data-target="#shipping4" aria-expanded="false" aria-controls="shipping4">
                        “Do I need to sign for the delivery?”

                        <svg width="40" viewBox="0 0 24 24" aria-hidden="true">
                            <path d="M16.59 8.59L12 13.17 7.41 8.59 6 10l6 6 6-6-1.41-1.41z"/>
                        </svg>
                    </button>
                    
                    <div id="shipping4" class="faq-questions__answer-block">
                        <div class="faq-questions__answer-card">
                            Signatures on orders are optional! You can choose if you'd like to include a signature at checkout. However, we highly
                            recommend the signature option as it safer for your package. If you choose to have your package delivered without a
                            signature, Automic Gold is not responsible if the package is lost or stolen.
                        </div>
                    </div>
                </div>

                <div class="faq-questions__body-item">
                    <button class="btn faq-questions__btn" type="button" data-target="#shipping5" aria-expanded="false" aria-controls="shipping5">
                        “Can I check the status of my order?” 

                        <svg width="40" viewBox="0 0 24 24" aria-hidden="true">
                            <path d="M16.59 8.59L12 13.17 7.41 8.59 6 10l6 6 6-6-1.41-1.41z"/>
                        </svg>
                    </button>
                    
                    <div id="shipping5" class="faq-questions__answer-block">
                        <div class="faq-questions__answer-card">
                            If your order has shipped you should contact the shipping company for direct updates. If it hasn't shipped yet, 
                            reach out to us with your order number. When experiencing higher than normal order volumes, shipping may take 
                            longer than expected.
                        </div>
                    </div>
                </div>

                <div class="faq-questions__body-item">
                    <button class="btn faq-questions__btn" type="button" data-target="#shipping6" aria-expanded="false" aria-controls="shipping6">
                        “My package says it was delivered but I didn’t receive it.”

                        <svg width="40" viewBox="0 0 24 24" aria-hidden="true">
                            <path d="M16.59 8.59L12 13.17 7.41 8.59 6 10l6 6 6-6-1.41-1.41z"/>
                        </svg>
                    </button>
                    
                    <div id="shipping6" class="faq-questions__answer-block">
                        <div class="faq-questions__answer-card">
                            Oftentimes shipping carriers mark packages as “delivered” although it hasn’t been delivered yet and is probably in 
                            the vicinity. We encourage you to wait a few days, 9 times out of 10 it shows up within a few hours or next business 
                            day. If it hasn’t been delivered within 4 business days, contact the shipping company for further information. 
                        </div>
                    </div>
                </div>

                <div class="faq-questions__body-item">
                    <button class="btn faq-questions__btn" type="button" data-target="#shipping7" aria-expanded="false" aria-controls="shipping7">
                        “My package has been in transit for a long time.” 

                        <svg width="40" viewBox="0 0 24 24" aria-hidden="true">
                            <path d="M16.59 8.59L12 13.17 7.41 8.59 6 10l6 6 6-6-1.41-1.41z"/>
                        </svg>
                    </button>
                    
                    <div id="shipping7" class="faq-questions__answer-block">
                        <div class="faq-questions__answer-card">
                            Shipping carriers do experience delays, and we can only see the same tracking information as you, so we encourage 
                            contacting the shipping company for more information. They can provide direct updates.
                        </div>
                    </div>
                </div>

                <div class="faq-questions__body-item">
                    <button class="btn faq-questions__btn" type="button" data-target="#shipping8" aria-expanded="false" aria-controls="shipping8">
                        “There was an attempted delivery. Can you reschedule a delivery/pick-up for me?” 

                        <svg width="40" viewBox="0 0 24 24" aria-hidden="true">
                            <path d="M16.59 8.59L12 13.17 7.41 8.59 6 10l6 6 6-6-1.41-1.41z"/>
                        </svg>
                    </button>
                    
                    <div id="shipping8" class="faq-questions__answer-block">
                        <div class="faq-questions__answer-card">
                            We do not schedule redeliveries or pick-ups, you will have to contact the shipping company to coordinate this. 
                        </div>
                    </div>
                </div>

                <div class="faq-questions__body-item">
                    <button class="btn faq-questions__btn" type="button" data-target="#shipping9" aria-expanded="false" aria-controls="shipping9">
                        “I think my package is lost/stolen.” 

                        <svg width="40" viewBox="0 0 24 24" aria-hidden="true">
                            <path d="M16.59 8.59L12 13.17 7.41 8.59 6 10l6 6 6-6-1.41-1.41z"/>
                        </svg>
                    </button>
                    
                    <div id="shipping9" class="faq-questions__answer-block">
                        <div class="faq-questions__answer-card">
                            Please double check with your neighbors/mail room/front desk staff to see if anyone mistakenly received your package. 
                            If you placed your order using Route, please contact them for further assistance. If you opted out of Route when placing 
                            your order, Automic Gold is not responsible for lost or stolen packages.
                        </div>
                    </div>
                </div>

                <div class="faq-questions__body-item">
                    <button class="btn faq-questions__btn" type="button" data-target="#shipping10" aria-expanded="false" aria-controls="shipping10">
                        “How do I track my ring sizer order?” 

                        <svg width="40" viewBox="0 0 24 24" aria-hidden="true">
                            <path d="M16.59 8.59L12 13.17 7.41 8.59 6 10l6 6 6-6-1.41-1.41z"/>
                        </svg>
                    </button>
                    
                    <div id="shipping10" class="faq-questions__answer-block">
                        <div class="faq-questions__answer-card">
                            Ring sizers are shipped as letter mail via digital stamp. They do not include a tracking number, if you have not 
                            received your ring sizer after 2-weeks please contact us.
                        </div>
                    </div>
                </div>

                <div class="faq-questions__body-item">
                    <button class="btn faq-questions__btn" type="button" data-target="#shipping11" aria-expanded="false" aria-controls="shipping11">
                        “I accidentally shipped my order to the wrong/old address, can you send me another?” 

                        <svg width="40" viewBox="0 0 24 24" aria-hidden="true">
                            <path d="M16.59 8.59L12 13.17 7.41 8.59 6 10l6 6 6-6-1.41-1.41z"/>
                        </svg>
                    </button>
                    
                    <div id="shipping11" class="faq-questions__answer-block">
                        <div class="faq-questions__answer-card">
                            We ship to the address provided by the customer, we are not responsible for lost or missing orders due to an incorrect shipping address provided.
                        </div>
                    </div>
                </div>

                <div class="faq-questions__body-item">
                    <button class="btn faq-questions__btn" type="button" data-target="#shipping12" aria-expanded="false" aria-controls="shipping12">
                        “I paid for priority/express shipping and my order hasn’t shipped yet.”

                        <svg width="40" viewBox="0 0 24 24" aria-hidden="true">
                            <path d="M16.59 8.59L12 13.17 7.41 8.59 6 10l6 6 6-6-1.41-1.41z"/>
                        </svg>
                    </button>
                    
                    <div id="shipping12" class="faq-questions__answer-block">
                        <div class="faq-questions__answer-card">
                            We operate Monday-Tuesday and Thursday-Friday from 9am - 5pm, with the exclusion of holidays. Any orders placed after business hours will be 
                            processed/prepared the next business day.
                        </div>
                    </div>
                </div>

                <div class="faq-questions__body-item">
                    <button class="btn faq-questions__btn" type="button" data-target="#shipping13" aria-expanded="false" aria-controls="shipping13">
                        “Do you offer Shipping Insurance?”

                        <svg width="40" viewBox="0 0 24 24" aria-hidden="true">
                            <path d="M16.59 8.59L12 13.17 7.41 8.59 6 10l6 6 6-6-1.41-1.41z"/>
                        </svg>
                    </button>
                    
                    <div id="shipping13" class="faq-questions__answer-block">
                        <div class="faq-questions__answer-card">
                            Yes. You can purchase insurance for your order by using Route Package Protection, which should show up in your cart before you place your order. Route is optional and can easily be removed from your cart. However, if you choose to opt out of Route’s package protection, Automic Gold is <span class="highlighted">not</span> responsible for lost, stolen or damaged packages. For more information, please check out Route’s <a target="_BLANK" aria-label="Visit Route's FAQ Page" href="https://help.route.com/hc/en-us/articles/360041131194-Route-Package-Protection-Policies">FAQ</a> page.
                        </div>
                    </div>
                </div>

                <div class="faq-questions__body-item">
                    <button class="btn faq-questions__btn" type="button" data-target="#shipping14" aria-expanded="false" aria-controls="shipping14">
                        “Do you charge taxes on international orders?”

                        <svg width="40" viewBox="0 0 24 24" aria-hidden="true">
                            <path d="M16.59 8.59L12 13.17 7.41 8.59 6 10l6 6 6-6-1.41-1.41z"/>
                        </svg>
                    </button>
                    
                    <div id="shipping14" class="faq-questions__answer-block">
                        <div class="faq-questions__answer-card">
                            Depending on the country or region you would like your shipment sent to, we may collect duties and taxes at checkout.
                        </div>
                    </div>
                </div>
            </div>

            <!-- REPAIRS SECTION --> 
            <div class="faq-questions__body-items" data-category="repairs">
                <!-- questions and answers -->
                <div class="faq-questions__body-item">
                    <button class="btn faq-questions__btn" type="button" data-target="#repairs1" aria-expanded="false" aria-controls="repairs1">
                        "Do you offer a warranty for your products?"

                        <svg width="40" viewBox="0 0 24 24" aria-hidden="true">
                            <path d="M16.59 8.59L12 13.17 7.41 8.59 6 10l6 6 6-6-1.41-1.41z"/>
                        </svg>
                    </button>
                    
                    <div id="repairs1" class="faq-questions__answer-block">
                        <div class="faq-questions__answer-card">
                            Yep! All of our pieces come with a <a href="https://www.automicgold.com/pages/lifetime-warranty" target="_blank">limited lifetime warranty</a> that covers manufacturer defects for up to three years after receipt. We don’t cover normal wear & tear, loss, or loss of parts, and all warranties are voided if your item has been modified by other jewelers. If you notice any loose stones or suspicious defects, <a href="mailto:care@automicgold.com">let us know</a> right away. We recommend getting insurance for all jewelry over $10,000. 
                        </div>
                    </div>
                </div>

                <div class="faq-questions__body-item">
                    <button class="btn faq-questions__btn" type="button" data-target="#repairs2" aria-expanded="false" aria-controls="repairs2">
                        “My item broke, can you fix it?” 

                        <svg width="40" viewBox="0 0 24 24" aria-hidden="true">
                            <path d="M16.59 8.59L12 13.17 7.41 8.59 6 10l6 6 6-6-1.41-1.41z"/>
                        </svg>
                    </button>
                    
                    <div id="repairs2" class="faq-questions__answer-block">
                        <div class="faq-questions__answer-card">
                            Yes, there is a repair fee for all broken items that are not considered a manufacturer's defect. If you are missing 
                            parts, such as a clasp, a charm, a piece of gold was cut off, there will be a parts replacement fee. We do not cover 
                            the return shipping cost for repairs and a $5 return shipping fee is applied to all repair orders. For international 
                            repairs, the return shipping fee varies. Contact us to initiate the repair process.
                        </div>
                    </div>
                </div>

                <div class="faq-questions__body-item">
                    <button class="btn faq-questions__btn" type="button" data-target="#repairs3" aria-expanded="false" aria-controls="repairs3">
                        “Do I have to pay to ship you the repair?” 

                        <svg width="40" viewBox="0 0 24 24" aria-hidden="true">
                            <path d="M16.59 8.59L12 13.17 7.41 8.59 6 10l6 6 6-6-1.41-1.41z"/>
                        </svg>
                    </button>
                    
                    <div id="repairs3" class="faq-questions__answer-block">
                        <div class="faq-questions__answer-card">
                            If the repair is past the 30-day window then yes, you will have to ship the repair at your expense. If you are in the U.S and the repair is within the 30-day window, we will issue a prepaid shipping label. This doesn’t apply for international orders. We do not provide prepaid shipping labels for international orders.
                        </div>
                    </div>
                </div>

                <div class="faq-questions__body-item">
                    <button class="btn faq-questions__btn" type="button" data-target="#repairs4" aria-expanded="false" aria-controls="repairs4">
                        “I have a non Automic Gold item that I want repaired, can you fix it for me?” 

                        <svg width="40" viewBox="0 0 24 24" aria-hidden="true">
                            <path d="M16.59 8.59L12 13.17 7.41 8.59 6 10l6 6 6-6-1.41-1.41z"/>
                        </svg>
                    </button>
                    
                    <div id="repairs4" class="faq-questions__answer-block">
                        <div class="faq-questions__answer-card">
                            Yes! We are open to repairs and modifications for any fine jewelry. We can work with any gold, silver, or platinum. <a href="mailto:care@automicgold.com">Reach out</a> to us with pictures and details.
                        </div>
                    </div>
                </div>
            </div>

            <!-- RETURNS SECTION --> 
            <div class="faq-questions__body-items" data-category="returns">
                <!-- questions and answers -->
                <div class="faq-questions__body-item">
                    <button class="btn faq-questions__btn" type="button" data-target="#returns1" aria-expanded="false" aria-controls="returns1">
                        "Do you offer free returns?"

                        <svg width="40" viewBox="0 0 24 24" aria-hidden="true">
                            <path d="M16.59 8.59L12 13.17 7.41 8.59 6 10l6 6 6-6-1.41-1.41z"/>
                        </svg>
                    </button>
                    
                    <div id="returns1" class="faq-questions__answer-block">
                        <div class="faq-questions__answer-card">
                            Yes, when you return an item(s) within 30-days from the delivery date, we'll provide a prepaid shipping label. We will 
                            issue a refund* for the item(s) returned. Please email us at <a title="Email Automic Gold Care" href="mailto:care@automicgold.com">care@automicgold.com</a> 
                            to receive instructions on how to return your item(s). Prepaid shipping labels do not apply to international orders.
                            <br>
                            <br>
                            *Shipping cost and route package protection are not included in refunds
                        </div>
                    </div>
                </div>

                <div class="faq-questions__body-item">
                    <button class="btn faq-questions__btn" type="button" data-target="#returns2" aria-expanded="false" aria-controls="returns2">
                        "Did you receive my return/package?”

                        <svg width="40" viewBox="0 0 24 24" aria-hidden="true">
                            <path d="M16.59 8.59L12 13.17 7.41 8.59 6 10l6 6 6-6-1.41-1.41z"/>
                        </svg>
                    </button>
                    
                    <div id="returns2" class="faq-questions__answer-block">
                        <div class="faq-questions__answer-card">
                            Check the tracking number on your package, if the tracking number shows as delivered then it’s likely we have your return and 
                            are working on it. 
                        </div>
                    </div>
                </div>

                <div class="faq-questions__body-item">
                    <button class="btn faq-questions__btn" type="button" data-target="#returns3" aria-expanded="false" aria-controls="returns3">
                        “I haven’t received my refund yet.”

                        <svg width="40" viewBox="0 0 24 24" aria-hidden="true">
                            <path d="M16.59 8.59L12 13.17 7.41 8.59 6 10l6 6 6-6-1.41-1.41z"/>
                        </svg>
                    </button>
                    
                    <div id="returns3" class="faq-questions__answer-block">
                        <div class="faq-questions__answer-card">
                            Allow 3-5 business days for the refund to show in your account. If the funds do not show in your account after the allotted time, 
                            contact your bank for further details.
                        </div>
                    </div>
                </div>

                <div class="faq-questions__body-item">
                    <button class="btn faq-questions__btn" type="button" data-target="#returns4" aria-expanded="false" aria-controls="returns4">
                        “I have a new card, can you send the money to the new card?” 

                        <svg width="40" viewBox="0 0 24 24" aria-hidden="true">
                            <path d="M16.59 8.59L12 13.17 7.41 8.59 6 10l6 6 6-6-1.41-1.41z"/>
                        </svg>
                    </button>
                    
                    <div id="returns4" class="faq-questions__answer-block">
                        <div class="faq-questions__answer-card">
                            Unfortunately, we cannot issue a refund to a different account/card. Refunds are applied to the original payment method or can be 
                            distributed to an Automic Gold gift card. Please contact your bank for further details. 
                        </div>
                    </div>
                </div>

                <div class="faq-questions__body-item">
                    <button class="btn faq-questions__btn" type="button" data-target="#returns5" aria-expanded="false" aria-controls="returns5">
                        “Can I return my custom/engraved order?”

                        <svg width="40" viewBox="0 0 24 24" aria-hidden="true">
                            <path d="M16.59 8.59L12 13.17 7.41 8.59 6 10l6 6 6-6-1.41-1.41z"/>
                        </svg>
                    </button>
                    
                    <div id="returns5" class="faq-questions__answer-block">
                        <div class="faq-questions__answer-card">
                            Customized/engraved items and custom orders are final sale and are not eligible for a return or exchange. We can resize, 
                            repair or modify the item for an additional cost - please contact us.
                        </div>
                    </div>
                </div>

                <div class="faq-questions__body-item">
                    <button class="btn faq-questions__btn" type="button" data-target="#returns6" aria-expanded="false" aria-controls="returns6">
                        “My item is final sale but I am not in love with it, what can I do?” 

                        <svg width="40" viewBox="0 0 24 24" aria-hidden="true">
                            <path d="M16.59 8.59L12 13.17 7.41 8.59 6 10l6 6 6-6-1.41-1.41z"/>
                        </svg>
                    </button>
                    
                    <div id="returns6" class="faq-questions__answer-block">
                        <div class="faq-questions__answer-card">
                            In the rare case you are not 100% satisfied with your engraving or custom piece please contact us and we will work with you 
                            to make changes. Additional charges may apply and refunds are not optional.
                        </div>
                    </div>
                </div>

                <div class="faq-questions__body-item">
                    <button class="btn faq-questions__btn" type="button" data-target="#returns7" aria-expanded="false" aria-controls="returns7">
                        “Can I exchange my item?”

                        <svg width="40" viewBox="0 0 24 24" aria-hidden="true">
                            <path d="M16.59 8.59L12 13.17 7.41 8.59 6 10l6 6 6-6-1.41-1.41z"/>
                        </svg>
                    </button>
                    
                    <div id="returns7" class="faq-questions__answer-block">
                        <div class="faq-questions__answer-card">
                            Yes, we offer free exchanges for all non-final sale items within 30-days from the delivery date. For international exchanges, the shipping cost is not free and the rate varies depending on your location. Contact us to inquire about exchanges.
                        </div>
                    </div>
                </div>

                <div class="faq-questions__body-item">
                    <button class="btn faq-questions__btn" type="button" data-target="#returns8" aria-expanded="false" aria-controls="returns8">
                        “Will I be charged a restocking fee?” 

                        <svg width="40" viewBox="0 0 24 24" aria-hidden="true">
                            <path d="M16.59 8.59L12 13.17 7.41 8.59 6 10l6 6 6-6-1.41-1.41z"/>
                        </svg>
                    </button>
                    
                    <div id="returns8" class="faq-questions__answer-block">
                        <div class="faq-questions__answer-card">
                            A restocking fee applies to all orders returned past the 30-day window and/or worn items. For all items that are
                            returned in an unhygienic state, a restocking fee will apply and any refund will be issued via store credit only.
                        </div>
                    </div>
                </div>

                <div class="faq-questions__body-item">
                    <button class="btn faq-questions__btn" type="button" data-target="#returns9" aria-expanded="false" aria-controls="returns9">
                        “I received the free travel case with my order, will i need to return it with my order?” 

                        <svg width="40" viewBox="0 0 24 24" aria-hidden="true">
                            <path d="M16.59 8.59L12 13.17 7.41 8.59 6 10l6 6 6-6-1.41-1.41z"/>
                        </svg>
                    </button>
                    
                    <div id="returns9" class="faq-questions__answer-block">
                        <div class="faq-questions__answer-card">
                            If your order contained a free travel case and the items you keep from your order are less than $199 total, return the travel case. If you keep it, $45 will be deducted from your refund.
                        </div>
                    </div>
                </div>

                <div class="faq-questions__body-item">
                    <button class="btn faq-questions__btn" type="button" data-target="#returns10" aria-expanded="false" aria-controls="returns10">
                        “What is your Holiday return policy?”

                        <svg width="40" viewBox="0 0 24 24" aria-hidden="true">
                            <path d="M16.59 8.59L12 13.17 7.41 8.59 6 10l6 6 6-6-1.41-1.41z"/>
                        </svg>
                    </button>
                    
                    <div id="returns10" class="faq-questions__answer-block">
                        <div class="faq-questions__answer-card">
                            The return and exchange window has been extended to January 15th for orders placed November 25th to December 15th. 
                            Anything purchased after will follow our standard 30 day return policy.
                        </div>
                    </div>
                </div>
            </div>

            <!-- CUSTOMS SECTION --> 
            <div class="faq-questions__body-items" data-category="customs">
                <!-- questions and answers -->
                <div class="faq-questions__body-item">
                    <button class="btn faq-questions__btn" type="button" data-target="#customs1" aria-expanded="false" aria-controls="customs1">
                        "Can you make..."

                        <svg width="40" viewBox="0 0 24 24" aria-hidden="true">
                            <path d="M16.59 8.59L12 13.17 7.41 8.59 6 10l6 6 6-6-1.41-1.41z"/>
                        </svg>
                    </button>
                    
                    <div id="customs1" class="faq-questions__answer-block">
                        <div class="faq-questions__answer-card">
                            We can make anything from fine metals and stones. For metals, we work only with any gold, platinum and silver. We do not 
                            have the capability to work with other metals or gold plated/ gold filled items. We can reuse your fine metals or 
                            source them for you. 
                        </div>
                    </div>
                </div>

                <div class="faq-questions__body-item">
                    <button class="btn faq-questions__btn" type="button" data-target="#customs2" aria-expanded="false" aria-controls="customs2">
                        "Can you make something from my stones?"

                        <svg width="40" viewBox="0 0 24 24" aria-hidden="true">
                            <path d="M16.59 8.59L12 13.17 7.41 8.59 6 10l6 6 6-6-1.41-1.41z"/>
                        </svg>
                    </button>
                    
                    <div id="customs2" class="faq-questions__answer-block">
                        <div class="faq-questions__answer-card">
                            Yes, we can make your custom piece with your stones but prefer to work with ours. This way, we can provide a warranty 
                            for the stones as well as the jewelry. With stones from other sources, we are not responsible for any damage to the 
                            stone. We can acquire almost any stone for you which will include a warranty and a cheaper price than if you were to 
                            buy a stone separately from somewhere else.
                        </div>
                    </div>
                </div>

                <div class="faq-questions__body-item">
                    <button class="btn faq-questions__btn" type="button" data-target="#customs3" aria-expanded="false" aria-controls="customs3">
                        “How much will my custom item cost?” 

                        <svg width="40" viewBox="0 0 24 24" aria-hidden="true">
                            <path d="M16.59 8.59L12 13.17 7.41 8.59 6 10l6 6 6-6-1.41-1.41z"/>
                        </svg>
                    </button>
                    
                    <div id="customs3" class="faq-questions__answer-block">
                        <div class="faq-questions__answer-card">
                            All custom items will cost a bit more to make since they are one of a kind pieces. If you have a tight budget, 
                            we encourage you to order in stock items. See example of prices <a target="_BLANK" href="https://www.automicgold.com/pages/custom-orders" title="Automic Gold Custom Orders">here</a> and email with the following details to 
                            get your quote. 

                            Describe your idea:

                            <ol>
                                <li>
                                    What metal would you like it in? In case of gold, what color gold?
                                </li>

                                <li>
                                    What is your timeline?
                                </li>

                                <li>
                                    Is there a particular budget you would like to stay within?
                                </li>

                                <li>
                                    What ring size/length/thickness apply to your design?
                                </li>
                            </ol>
                        </div>
                    </div>
                </div>

                <div class="faq-questions__body-item">
                    <button class="btn faq-questions__btn" type="button" data-target="#customs4" aria-expanded="false" aria-controls="customs4">
                        “How long will my custom take to make?”

                        <svg width="40" viewBox="0 0 24 24" aria-hidden="true">
                            <path d="M16.59 8.59L12 13.17 7.41 8.59 6 10l6 6 6-6-1.41-1.41z"/>
                        </svg>
                    </button>
                    
                    <div id="customs4" class="faq-questions__answer-block">
                        <div class="faq-questions__answer-card">
                            Simple designs without stones such as nameplates usually take 2-3 weeks. Complicated designs usually take about 4-6 weeks. 
                        </div>
                    </div>
                </div>

                <div class="faq-questions__body-item">
                    <button class="btn faq-questions__btn" type="button" data-target="#customs5" aria-expanded="false" aria-controls="customs5">
                        “Can you recut the stones?“

                        <svg width="40" viewBox="0 0 24 24" aria-hidden="true">
                            <path d="M16.59 8.59L12 13.17 7.41 8.59 6 10l6 6 6-6-1.41-1.41z"/>
                        </svg>
                    </button>
                    
                    <div id="customs5" class="faq-questions__answer-block">
                        <div class="faq-questions__answer-card">
                            Yes, we can recut or repolish any of the gemstones. We do not work with marble, woods, etc. Only with precious or semi-precious 
                            stones.
                        </div>
                    </div>
                </div>

                <div class="faq-questions__body-item">
                    <button class="btn faq-questions__btn" type="button" data-target="#customs6" aria-expanded="false" aria-controls="customs6">
                        “Can I recycle my gold with you?” 

                        <svg width="40" viewBox="0 0 24 24" aria-hidden="true">
                            <path d="M16.59 8.59L12 13.17 7.41 8.59 6 10l6 6 6-6-1.41-1.41z"/>
                        </svg>
                    </button>
                    
                    <div id="customs6" class="faq-questions__answer-block">
                        <div class="faq-questions__answer-card">
                            Yes, we buy gold, silver, platinum, diamonds and certain gemstones. Email our customs department <a target="_BLANK" href="https://www.automicgold.com/pages/custom-orders" title="Automic Gold Custom Orders">here</a> with photos of 
                            what you have and a brief description for a quote.
                        </div>
                    </div>
                </div>

                <div class="faq-questions__body-item">
                    <button class="btn faq-questions__btn" type="button" data-target="#customs7" aria-expanded="false" aria-controls="customs7">
                        “Can I drop off my stones or schedule an in-person consultation?” 

                        <svg width="40" viewBox="0 0 24 24" aria-hidden="true">
                            <path d="M16.59 8.59L12 13.17 7.41 8.59 6 10l6 6 6-6-1.41-1.41z"/>
                        </svg>
                    </button>
                    
                    <div id="customs7" class="faq-questions__answer-block">
                        <div class="faq-questions__answer-card">
                            Yes, we are located in Midtown NYC, email to schedule an appointment or schedule a phone consultation <a target="_BLANK" href="https://www.automicgold.com/pages/contact" title="Contact Automic Gold">here</a>.
                        </div>
                    </div>
                </div>

                <div class="faq-questions__body-item">
                    <button class="btn faq-questions__btn" type="button" data-target="#customs8" aria-expanded="false" aria-controls="customs8">
                        “Can you design it for me?” 

                        <svg width="40" viewBox="0 0 24 24" aria-hidden="true">
                            <path d="M16.59 8.59L12 13.17 7.41 8.59 6 10l6 6 6-6-1.41-1.41z"/>
                        </svg>
                    </button>
                    
                    <div id="customs8" class="faq-questions__answer-block">
                        <div class="faq-questions__answer-card">
                            Yes, we are a full service workshop. We can help you from any stage in the process. 
                        </div>
                    </div>
                </div>

                <div class="faq-questions__body-item">
                    <button class="btn faq-questions__btn" type="button" data-target="#customs9" aria-expanded="false" aria-controls="customs9">
                        “Can I engrave my custom piece?” 

                        <svg width="40" viewBox="0 0 24 24" aria-hidden="true">
                            <path d="M16.59 8.59L12 13.17 7.41 8.59 6 10l6 6 6-6-1.41-1.41z"/>
                        </svg>
                    </button>
                    
                    <div id="customs9" class="faq-questions__answer-block">
                        <div class="faq-questions__answer-card">
                            Yes, we engrave any font, picture, symbol, logo, and even copy handwriting.
                        </div>
                    </div>
                </div>

                <div class="faq-questions__body-item">
                    <button class="btn faq-questions__btn" type="button" data-target="#customs10" aria-expanded="false" aria-controls="customs10">
                        “What is the custom ordering process like?”

                        <svg width="40" viewBox="0 0 24 24" aria-hidden="true">
                            <path d="M16.59 8.59L12 13.17 7.41 8.59 6 10l6 6 6-6-1.41-1.41z"/>
                        </svg>
                    </button>
                    
                    <div id="customs10" class="faq-questions__answer-block">
                        <div class="faq-questions__answer-card">
                            <ol>
                                <li>
                                    Reach out to us with what you want and can afford. 
                                </li>

                                <li>
                                    We will discuss the cost and settle on the main design elements.
                                </li>

                                <li>
                                    If needed, we can provide a sketch. 
                                </li>

                                <li>
                                    When you are ready to order, we email you an invoice so you can place your order. If it applies, you mail or drop off your gold/gemstones. 
                                </li>

                                <li>
                                    Once we have all the materials and full payment we will begin making your custom order. 
                                    <br><br>
                                    For all complicated designs, a 3-D model will be delivered where you can see an exact model of 
                                    your item and you can make any changes, see example of some previous works <a target="_BLANK" href="https://sketchfab.com/automicgold" title="Automic Gold Past 3D Models">here</a>.
                                    <br><br>
                                    Once you approve your 3-D model, we will start production. 
                                </li>

                                <li>
                                    It takes about 2-6 weeks to complete, depending on how intricate your design is. 
                                </li>

                                <li>
                                    As soon as it ships, you will receive an email confirmation to the email you left at checkout.
                                </li>
                            </ol>
                        </div>
                    </div>
                </div>

                <div class="faq-questions__body-item">
                    <button class="btn faq-questions__btn" type="button" data-target="#customs11" aria-expanded="false" aria-controls="customs11">
                        “Is there a deadline if I want to make changes to my custom order?”

                        <svg width="40" viewBox="0 0 24 24" aria-hidden="true">
                            <path d="M16.59 8.59L12 13.17 7.41 8.59 6 10l6 6 6-6-1.41-1.41z"/>
                        </svg>
                    </button>
                    
                    <div id="customs11" class="faq-questions__answer-block">
                        <div class="faq-questions__answer-card">
                            Once the order enters the production stage it is final sale. Any modifications or changes will be done for a fee.
                        </div>
                    </div>
                </div>

                <div class="faq-questions__body-item">
                    <button class="btn faq-questions__btn" type="button" data-target="#customs12" aria-expanded="false" aria-controls="customs12">
                        “What if I want to resize or change my custom order after I receive it?”

                        <svg width="40" viewBox="0 0 24 24" aria-hidden="true">
                            <path d="M16.59 8.59L12 13.17 7.41 8.59 6 10l6 6 6-6-1.41-1.41z"/>
                        </svg>
                    </button>
                    
                    <div id="customs12" class="faq-questions__answer-block">
                        <div class="faq-questions__answer-card">
                            Yes, we can do it for you. You will need to ship it back or drop it off to us at your cost - please email us for a quote. 
                        </div>
                    </div>
                </div>

                <div class="faq-questions__body-item">
                    <button class="btn faq-questions__btn" type="button" data-target="#customs13" aria-expanded="false" aria-controls="customs13">
                        “Do you need a deposit?”

                        <svg width="40" viewBox="0 0 24 24" aria-hidden="true">
                            <path d="M16.59 8.59L12 13.17 7.41 8.59 6 10l6 6 6-6-1.41-1.41z"/>
                        </svg>
                    </button>
                    
                    <div id="customs13" class="faq-questions__answer-block">
                        <div class="faq-questions__answer-card">
                            No, we will tell you the quote and suggest the design for free. Full payment is required to start making the order.
                        </div>
                    </div>
                </div>

                <div class="faq-questions__body-item">
                    <button class="btn faq-questions__btn" type="button" data-target="#customs14" aria-expanded="false" aria-controls="customs14">
                        “Can I pay in installments?”

                        <svg width="40" viewBox="0 0 24 24" aria-hidden="true">
                            <path d="M16.59 8.59L12 13.17 7.41 8.59 6 10l6 6 6-6-1.41-1.41z"/>
                        </svg>
                    </button>
                    
                    <div id="customs14" class="faq-questions__answer-block">
                        <div class="faq-questions__answer-card">
                            Yes, we accept shop and afterpay. If you want to pay with a card or paypal, email and we will breakdown the invoices for
                            you.
                        </div>
                    </div>
                </div>

                <div class="faq-questions__body-item">
                    <button class="btn faq-questions__btn" type="button" data-target="#customs15" aria-expanded="false" aria-controls="customs15">
                        “What forms of payment do you accept?” 

                        <svg width="40" viewBox="0 0 24 24" aria-hidden="true">
                            <path d="M16.59 8.59L12 13.17 7.41 8.59 6 10l6 6 6-6-1.41-1.41z"/>
                        </svg>
                    </button>
                    
                    <div id="customs15" class="faq-questions__answer-block">
                        <div class="faq-questions__answer-card">
                            We accept credit or debit cards, paypal, apple pay, affirm and afterpay. 
                        </div>
                    </div>
                </div>

                <div class="faq-questions__body-item">
                    <button class="btn faq-questions__btn" type="button" data-target="#customs16" aria-expanded="false" aria-controls="customs16">
                        “Where will my custom order be made?”

                        <svg width="40" viewBox="0 0 24 24" aria-hidden="true">
                            <path d="M16.59 8.59L12 13.17 7.41 8.59 6 10l6 6 6-6-1.41-1.41z"/>
                        </svg>
                    </button>
                    
                    <div id="customs16" class="faq-questions__answer-block">
                        <div class="faq-questions__answer-card">
                            We make all items in-house from design to 3D models to production and shipping.
                        </div>
                    </div>
                </div>

                <div class="faq-questions__body-item">
                    <button class="btn faq-questions__btn" type="button" data-target="#customs17" aria-expanded="false" aria-controls="customs17">
                        “Can I wear it in the shower/sleep/beach?” 

                        <svg width="40" viewBox="0 0 24 24" aria-hidden="true">
                            <path d="M16.59 8.59L12 13.17 7.41 8.59 6 10l6 6 6-6-1.41-1.41z"/>
                        </svg>
                    </button>
                    
                    <div id="customs17" class="faq-questions__answer-block">
                        <div class="faq-questions__answer-card">
                            All solid gold and platinum - yes. Anything with diamonds, yes. Anything with sapphire, rubies, emeralds and moissanites 
                            – yes but be careful. The stones can get scratched if you do hard work. Most other gems are softer, they can be worn in 
                            the water and to sleep but remove them if you work with your hands or workout. There is a risk for them to get cracked or 
                            broken if you hit them. Opals, onyx and turquoise can’t be worn in water or exposed to elements, always remove them first 
                            and put them on last.
                        </div>
                    </div>
                </div>

                <div class="faq-questions__body-item">
                    <button class="btn faq-questions__btn" type="button" data-target="#customs18" aria-expanded="false" aria-controls="customs18">
                        “I don’t know the ring size me/my partner needs”

                        <svg width="40" viewBox="0 0 24 24" aria-hidden="true">
                            <path d="M16.59 8.59L12 13.17 7.41 8.59 6 10l6 6 6-6-1.41-1.41z"/>
                        </svg>
                    </button>
                    
                    <div id="customs18" class="faq-questions__answer-block">
                        <div class="faq-questions__answer-card">
                            We recommend getting a <a target="_BLANK" title="Automic Ring Sizer" href="https://www.automicgold.com/collections/rings/products/ring-sizer">ring sizer</a> if you are not sure.
                        </div>
                    </div>
                </div>

                <div class="faq-questions__body-item">
                    <button class="btn faq-questions__btn" type="button" data-target="#customs19" aria-expanded="false" aria-controls="customs19">
                        “Will my engagement ring come in an engagement ring box?”

                        <svg width="40" viewBox="0 0 24 24" aria-hidden="true">
                            <path d="M16.59 8.59L12 13.17 7.41 8.59 6 10l6 6 6-6-1.41-1.41z"/>
                        </svg>
                    </button>
                    
                    <div id="customs19" class="faq-questions__answer-block">
                        <div class="faq-questions__answer-card">
                            No, it comes in a standard Automic Gold book box but something very cute is coming soon. 
                        </div>
                    </div>
                </div>

                <div class="faq-questions__body-item">
                    <button class="btn faq-questions__btn" type="button" data-target="#customs20" aria-expanded="false" aria-controls="customs20">
                        “Do you do repairs?”

                        <svg width="40" viewBox="0 0 24 24" aria-hidden="true">
                            <path d="M16.59 8.59L12 13.17 7.41 8.59 6 10l6 6 6-6-1.41-1.41z"/>
                        </svg>
                    </button>
                    
                    <div id="customs20" class="faq-questions__answer-block">
                        <div class="faq-questions__answer-card">
                            Yes, we can repair or modify any of our pieces. 
                        </div>
                    </div>
                </div>

                <div class="faq-questions__body-item">
                    <button class="btn faq-questions__btn" type="button" data-target="#customs21" aria-expanded="false" aria-controls="customs21">
                        “What is the warranty for custom pieces?” 

                        <svg width="40" viewBox="0 0 24 24" aria-hidden="true">
                            <path d="M16.59 8.59L12 13.17 7.41 8.59 6 10l6 6 6-6-1.41-1.41z"/>
                        </svg>
                    </button>
                    
                    <div id="customs21" class="faq-questions__answer-block">
                        <div class="faq-questions__answer-card">
                            All of our pieces come with a limited lifetime warranty that covers manufacturer defects for up to three years after receipt. We don’t cover normal wear & tear, loss, or loss of parts, and all warranties are voided if your item has been modified by other jewelers. If you notice any loose stones or possible defects, let us know right away. We recommend getting insurance for all jewelry over $10,000.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<div class="spaced--thrice text-center">
    Need more help?<br/>
    <a  class="highlighted help-link" href="mailto:care@automicgold.com" title="Email Automic Gold">Email us care@automicgold.com</a>
</div>
