<div class="page-cover">
    <div class="no--padding">
        <header class="pcr-heroine">
            <div>
                <picture>
                    <source
                        srcset="
                            {{ 'pcr--header--mobile.jpg' | file_img_url: '750x750' }} 750w,
                            {{ 'pcr--header--mobile.jpg' | file_img_url: '1080x1080' }} 1080w,
                            {{ 'pcr--header--mobile.jpg' | file_img_url: '1416x1416' }} 1416w
                        "
                        sizes="100vw"
                        media="(max-width: 767.98px)"
                    />
                    <img
                        srcset="
                            {{ 'pcr--header--desktop.jpg' | file_img_url: '2000x1500' }} 2000w,
                            {{ 'pcr--header--desktop.jpg' | file_img_url: '1500x1125' }} 1500w,
                            {{ 'pcr--header--desktop.jpg' | file_img_url: '1000x750' }} 1000w
                        "
                        sizes="100vw"
                        alt="Automic Gold LGBTQ Owned Jewelry Worn by Queer Models"
                    />
                </picture>
            </div>

            <div class="pcr-heroine__title">
                <svg role="presentation" viewBox="0 0 384 192">
                    <title>Post Corporation Rehabilitation icon</title>
                    <g transform="translate(-15.000000, -359.000000)" fill="#FFCC33" fill-rule="nonzero">
                        <path d="M148.864542,551 C148.864542,518.892648 174.892574,492.864542 206.999644,492.864542 C239.106967,492.864542 265.135458,518.892902 265.135458,551 L399,551 C399,444.961407 313.038162,359 206.999644,359 C100.961144,359 15,444.961389 15,551 L148.864542,551 Z" id="Stroke-1"></path>
                    </g>
                </svg>

                <h1>
                    Post&nbsp;Corporation<br/>Rehabilitation
                </h1>

                <p>
                    The Post Corporation Rehabilitation has no big sponsors, just queers pooling resources to create a space of our own. Recharge with us so we can continue to grow during the other eleven months in the year.
                </p>
            </div>
        </header>
    </div>
</div>

<div class="space-bottom-x2 text-center">
    <div class="banoodle">
        <svg role="presentation" viewBox="0 0 409 73">
            <title>Transgender flag</title>
            <g id="Fliers" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                <g id="Web-Page" transform="translate(-318.000000, -1431.000000)" fill-rule="nonzero">
                    <g id="Group-5" transform="translate(318.000000, 1431.000000)">
                        <path d="M25,36.5 C25,30.1487209 30.1487062,25 36.4999317,25 C42.8512052,25 48,30.148769 48,36.5 L73,36.5 C73,16.3416221 56.6582959,0 36.4999317,0 C16.3415716,0 0,16.3416181 0,36.5 L25,36.5 Z" id="Stroke-1" fill="#55CDFC"></path>
                        <path d="M73,72.5 C73,66.1487209 78.1487062,61 84.4999317,61 C90.8512052,61 96,66.148769 96,72.5 L121,72.5 C121,52.3416221 104.658296,36 84.4999317,36 C64.3415716,36 48,52.3416181 48,72.5 L73,72.5 Z" id="Stroke-1" fill="#F7A8B8" transform="translate(84.500000, 54.250000) scale(1, -1) translate(-84.500000, -54.250000) "></path>
                        <path d="M169,72.5 C169,66.1487209 174.148706,61 180.499932,61 C186.851205,61 192,66.148769 192,72.5 L217,72.5 C217,52.3416221 200.658296,36 180.499932,36 C160.341572,36 144,52.3416181 144,72.5 L169,72.5 Z" id="Stroke-1" fill="#F7A8B8" transform="translate(180.500000, 54.250000) scale(1, -1) translate(-180.500000, -54.250000) "></path>
                        <path d="M121,36.5 C121,30.1487209 126.148706,25 132.499932,25 C138.851205,25 144,30.148769 144,36.5 L169,36.5 C169,16.3416221 152.658296,0 132.499932,0 C112.341572,0 96,16.3416181 96,36.5 L121,36.5 Z" id="Stroke-1" fill="#55CDFC"></path>
                        <path d="M25,36.5 C25,30.1487209 30.1487062,25 36.4999317,25 C42.8512052,25 48,30.148769 48,36.5 L73,36.5 C73,16.3416221 56.6582959,0 36.4999317,0 C16.3415716,0 0,16.3416181 0,36.5 L25,36.5 Z" id="Stroke-1" fill="#55CDFC"></path>
                        <path d="M73,72.5 C73,66.1487209 78.1487062,61 84.4999317,61 C90.8512052,61 96,66.148769 96,72.5 L121,72.5 C121,52.3416221 104.658296,36 84.4999317,36 C64.3415716,36 48,52.3416181 48,72.5 L73,72.5 Z" id="Stroke-1" fill="#F7A8B8" transform="translate(84.500000, 54.250000) scale(1, -1) translate(-84.500000, -54.250000) "></path>
                        <path d="M169,72.5 C169,66.1487209 174.148706,61 180.499932,61 C186.851205,61 192,66.148769 192,72.5 L217,72.5 C217,52.3416221 200.658296,36 180.499932,36 C160.341572,36 144,52.3416181 144,72.5 L169,72.5 Z" id="Stroke-1" fill="#F7A8B8" transform="translate(180.500000, 54.250000) scale(1, -1) translate(-180.500000, -54.250000) "></path>
                        <path d="M121,36.5 C121,30.1487209 126.148706,25 132.499932,25 C138.851205,25 144,30.148769 144,36.5 L169,36.5 C169,16.3416221 152.658296,0 132.499932,0 C112.341572,0 96,16.3416181 96,36.5 L121,36.5 Z" id="Stroke-1" fill="#55CDFC"></path>
                        <path d="M361,72.5 C361,66.1487209 366.148706,61 372.499932,61 C378.851205,61 384,66.148769 384,72.5 L409,72.5 C409,52.3416221 392.658296,36 372.499932,36 C352.341572,36 336,52.3416181 336,72.5 L361,72.5 Z" id="Stroke-1" fill="#55CDFC" transform="translate(372.500000, 54.250000) scale(1, -1) translate(-372.500000, -54.250000) "></path>
                        <path d="M217,36.5 C217,30.1487209 222.148706,25 228.499932,25 C234.851205,25 240,30.148769 240,36.5 L265,36.5 C265,16.3416221 248.658296,0 228.499932,0 C208.341572,0 192,16.3416181 192,36.5 L217,36.5 Z" id="Stroke-1" fill="#F7A8B8"></path>
                        <path d="M313,36.5 C313,30.1487209 318.148706,25 324.499932,25 C330.851205,25 336,30.148769 336,36.5 L361,36.5 C361,16.3416221 344.658296,0 324.499932,0 C304.341572,0 288,16.3416181 288,36.5 L313,36.5 Z" id="Stroke-1" fill="#F7A8B8"></path>
                        <path d="M265,72.5 C265,66.1487209 270.148706,61 276.499932,61 C282.851205,61 288,66.148769 288,72.5 L313,72.5 C313,52.3416221 296.658296,36 276.499932,36 C256.341572,36 240,52.3416181 240,72.5 L265,72.5 Z" id="Stroke-1" fill="#55CDFC" transform="translate(276.500000, 54.250000) scale(1, -1) translate(-276.500000, -54.250000) "></path>
                    </g>
                </g>
            </g>
        </svg>
    </div>
</div>

<div class="pcr-details">
    <div class="pcr-details__heading">
        Where
    </div>

    <div class="pcr-details__info space-bottom-x1">
        <a href="https://goo.gl/maps/RmRpY87qkTMdEqXy9" target="_blank" title="Directions to New Women's Space">
            <img
                class="lazyload"
                data-srcset="
                    {{ 'pcr--nws.png' | file_img_url: '141x141' }} 141w,
                    {{ 'pcr--nws.png' | file_img_url: '94x94' }} 94w,
                    {{ 'pcr--nws.png' | file_img_url: '47x47' }} 47w
                "
                sizes="
                    (max-width: 767.98px) 47px,
                    (min-width: 768px) 94px
                "
                alt="New Women's Space icon"
            />
            New Women's Space
            <div class="pcr-details__info-address" >188 Woodpoint Rd, Brooklyn, NY 11211</div>
        </a>
    </div>

    <div class="pcr-details__heading">
        When
    </div>
    <div class="pcr-details__info space-bottom-x1">
        Saturday, July 6th
        <div class="pcr-details__info-time">
            3pm -7pm
        </div>
    </div>
    
    <button title="RSVP for Post Corporation Rehabilitation Event" class="pcr-details__cta btn btn--highlighted" id="eventbrite-widget-modal-trigger-63974297847" type="button">RSVP</button>
    <div class="pcr-details__free">Free event</div>
</div>

<div class="spaced pcr-header pcr-header--businesses">
    <h2>Tarot readings, haircuts, makeovers and more!</h2>
</div>

<div class="pcr-grid pcr-grid--businesses spaced">
    <div class="pcr-grid__entry">
        <img
            class="lazyload"
            data-srcset="
                {{ 'pcr--you-and-sundry.jpg' | file_img_url: '873x873' }} 873w,
                {{ 'pcr--you-and-sundry.jpg' | file_img_url: '600x600' }} 600w,
                {{ 'pcr--you-and-sundry.jpg' | file_img_url: '400x400' }} 400w
            "
            sizes="290px"
            alt="You and Sundry Salon are partners of Automic Gold"
        />
        <h4><a href="https://www.youandsundry.com/" target="_blank">You and Sundry Salon</a></h4>
        <p>
            Social Parlor for LGBTQIA+ folx.
            Will be giving haircuts ranging from $35-60
        </p>
    </div>

    <div class="pcr-grid__entry">
        <img
            class="lazyload"
            data-srcset="
                {{ 'pcr--fluide.jpg' | file_img_url: '873x873' }} 873w,
                {{ 'pcr--fluide.jpg' | file_img_url: '600x600' }} 600w,
                {{ 'pcr--fluide.jpg' | file_img_url: '400x400' }} 400w
            "
            sizes="290px"
            alt="Fluide Beauty are partners of Automic Gold"
        />
        <h4><a href="https://www.fluide.us/" target="_blank">Fluide Beauty</a></h4>
        <p>
            Makeup for him, her, them, everyone. Giving away Elsewhere lip gloss for the first 50 attendees!
            Makeovers will be available at their beauty bar.
        </p>
    </div>

    <div class="pcr-grid__entry">
        <img
            class="lazyload"
            data-srcset="
                {{ 'pcr--vei.jpg' | file_img_url: '873x873' }} 873w,
                {{ 'pcr--vei.jpg' | file_img_url: '600x600' }} 600w,
                {{ 'pcr--vei.jpg' | file_img_url: '400x400' }} 400w
            "
            sizes="290px"
            alt="Vei Darling are partners of Automic Gold"
        />
        <h4><a href="https://www.veidarling.xyz/" target="_blank">Vei Darling</a></h4>
        <p>
            The Cosmic Queen Vei Darling, The Sagittarius Woman — a freelance multidisciplinary creative, revolutionary, healer, and human.
            Giving tarot and birth chart readings $10-30
        </p>
    </div>

    <div class="pcr-grid__entry">
        <img
            class="lazyload"
            data-srcset="
                {{ 'pcr--metaden.jpg' | file_img_url: '873x873' }} 873w,
                {{ 'pcr--metaden.jpg' | file_img_url: '600x600' }} 600w,
                {{ 'pcr--metaden.jpg' | file_img_url: '400x400' }} 400w
            "
            sizes="290px"
            alt="metaDEN are partners of Automic Gold"
        />
        <h4><a href="https://metaden.co/" target="_blank">metaDEN</a></h4>
        <p>
            QTPOC healing incubator. Providing energy reset sessions with zodiac based products.
        </p>
    </div>

    <div class="pcr-grid__entry">
        <img
            class="lazyload"
            data-srcset="
                {{ 'pcr--syro.jpg' | file_img_url: '873x873' }} 873w,
                {{ 'pcr--syro.jpg' | file_img_url: '600x600' }} 600w,
                {{ 'pcr--syro.jpg' | file_img_url: '400x400' }} 400w
            "
            sizes="290px"
            alt="SYRO are partners of Automic Gold"
        />
        <h4><a href="http://shopsyro.com/" target="_blank">SYRO</a></h4>
        <p>
            Queer cult in Bushwick making high heels and dysmantaling systems.
        </p>
    </div>

    <div class="pcr-grid__entry">
        <img
            class="lazyload"
            data-srcset="
                {{ 'pcr--rocio.jpg' | file_img_url: '873x873' }} 873w,
                {{ 'pcr--rocio.jpg' | file_img_url: '600x600' }} 600w,
                {{ 'pcr--rocio.jpg' | file_img_url: '400x400' }} 400w
            "
            sizes="290px"
            alt="Rocio Cabrera are partners of Automic Gold"
        />
        <h4><a href="https://www.rocioart.com/" target="_blank">Rocio Cabrera</a></h4>
        <p>
            Bronx-based multimedia artist known for her surrealist approach.  She specializes in oil paintings, sculptures, and handmade jewelry design.
        </p>
    </div>

    <div class="pcr-grid__entry">
        <img
            class="lazyload"
            data-srcset="
                {{ 'pcr--gf.jpg' | file_img_url: '873x873' }} 873w,
                {{ 'pcr--gf.jpg' | file_img_url: '600x600' }} 600w,
                {{ 'pcr--gf.jpg' | file_img_url: '400x400' }} 400w
            "
            sizes="290px"
            alt="Gender Fail is a partner of Automic Gold"
        />
        <h4><a href="http://genderfail.space/" target="_blank">Gender Fail</a></h4>
        <p>
            Publishing and programming initiative that encourages an intersectional queer subjectivity
        </p>
    </div>

    <div class="pcr-grid__entry">
        <img
            class="lazyload"
            data-srcset="
                {{ 'pcr--lmp.jpg' | file_img_url: '873x873' }} 873w,
                {{ 'pcr--lmp.jpg' | file_img_url: '600x600' }} 600w,
                {{ 'pcr--lmp.jpg' | file_img_url: '400x400' }} 400w
            "
            sizes="290px"
            alt="Little Mountain Press is a partner of Automic Gold"
        />
        <h4><a href="https://www.littlemountainpress.com/" target="_blank">Little Mountain Press</a></h4>
        <p>
            Art and illustration independent press from New York and Shenzhen.
        </p>
    </div>

    <div class="pcr-grid__entry">
        <div class="banoodle banoodle--vertical spaced">
            <svg role="presentation" viewBox="0 0 74 170">
                <title>Bisexual flag</title>
                <g id="Fliers" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                    <g id="Web-Page-Copy" transform="translate(-794.000000, -2960.000000)" fill-rule="nonzero">
                        <g id="Group-5" transform="translate(794.500000, 2959.500000)">
                            <path d="M43,55.5 C43,49.1487209 48.1487062,44 54.4999317,44 C60.8512052,44 66,49.148769 66,55.5 L91,55.5 C91,35.3416221 74.6582959,19 54.4999317,19 C34.3415716,19 18,35.3416181 18,55.5 L43,55.5 Z" id="Stroke-1" fill="#D80272" transform="translate(54.500000, 37.250000) scale(1, -1) rotate(90.000000) translate(-54.500000, -37.250000) "></path>
                            <path d="M7,103.5 C7,97.1487209 12.1487062,92 18.4999317,92 C24.8512052,92 30,97.148769 30,103.5 L55,103.5 C55,83.3416221 38.6582959,67 18.4999317,67 C-1.65842844,67 -18,83.3416181 -18,103.5 L7,103.5 Z" id="Stroke-1" fill="#745095" transform="translate(18.500000, 85.250000) scale(-1, -1) rotate(90.000000) translate(-18.500000, -85.250000) "></path>
                            <path d="M43,151.5 C43,145.148721 48.1487062,140 54.4999317,140 C60.8512052,140 66,145.148769 66,151.5 L91,151.5 C91,131.341622 74.6582959,115 54.4999317,115 C34.3415716,115 18,131.341618 18,151.5 L43,151.5 Z" id="Stroke-1" fill="#0038A9" transform="translate(54.500000, 133.250000) scale(1, -1) rotate(90.000000) translate(-54.500000, -133.250000) "></path>
                        </g>
                    </g>
                </g>
            </svg>
        </div>
    </div>
</div>

<div class="banoodle banoodle--offset spaced--twice">
    <svg role="presentation" viewBox="0 0 122 73">
        <g id="Fliers" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
            <g id="Web-Page-Copy" transform="translate(-149.000000, -3646.000000)" fill-rule="nonzero">
                <g id="Group-6" transform="translate(149.500000, 3646.500000)">
                    <path d="M25,36.5 C25,30.1487209 30.1487062,25 36.4999317,25 C42.8512052,25 48,30.148769 48,36.5 L73,36.5 C73,16.3416221 56.6582959,0 36.4999317,0 C16.3415716,0 0,16.3416181 0,36.5 L25,36.5 Z" id="Stroke-1" fill="#FE0000"></path>
                    <path d="M73,72.5 C73,66.1487209 78.1487062,61 84.4999317,61 C90.8512052,61 96,66.148769 96,72.5 L121,72.5 C121,52.3416221 104.658296,36 84.4999317,36 C64.3415716,36 48,52.3416181 48,72.5 L73,72.5 Z" id="Stroke-1" fill="#FFA700" transform="translate(84.500000, 54.250000) scale(1, -1) translate(-84.500000, -54.250000) "></path>
                </g>
            </g>
        </g>
    </svg>


    <svg role="presentation" viewBox="0 0 170 73">
        <g id="Fliers" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
            <g id="Web-Page-Copy" transform="translate(-436.000000, -3646.000000)" fill-rule="nonzero">
                <g id="Group-7" transform="translate(436.500000, 3646.500000)">
                    <path d="M25,36.5 C25,30.1487209 30.1487062,25 36.4999317,25 C42.8512052,25 48,30.148769 48,36.5 L73,36.5 C73,16.3416221 56.6582959,0 36.4999317,0 C16.3415716,0 0,16.3416181 0,36.5 L25,36.5 Z" id="Stroke-1" fill="#FFFF00"></path>
                    <path d="M121,36.5 C121,30.1487209 126.148706,25 132.499932,25 C138.851205,25 144,30.148769 144,36.5 L169,36.5 C169,16.3416221 152.658296,0 132.499932,0 C112.341572,0 96,16.3416181 96,36.5 L121,36.5 Z" id="Stroke-1" fill="#1100E8"></path>
                    <path d="M73,72.5 C73,66.1487209 78.1487062,61 84.4999317,61 C90.8512052,61 96,66.148769 96,72.5 L121,72.5 C121,52.3416221 104.658296,36 84.4999317,36 C64.3415716,36 48,52.3416181 48,72.5 L73,72.5 Z" id="Stroke-1" fill="#008000" transform="translate(84.500000, 54.250000) scale(1, -1) translate(-84.500000, -54.250000) "></path>
                </g>
            </g>
        </g>
    </svg>


    <svg role="presentation" viewBox="0 0 122 73">
        <g id="Fliers" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
            <g id="Web-Page-Copy" transform="translate(-774.000000, -3646.000000)" fill-rule="nonzero">
                <g id="Group-8" transform="translate(774.500000, 3646.500000)">
                    <path d="M25,72.5 C25,66.1487209 30.1487062,61 36.4999317,61 C42.8512052,61 48,66.148769 48,72.5 L73,72.5 C73,52.3416221 56.6582959,36 36.4999317,36 C16.3415716,36 0,52.3416181 0,72.5 L25,72.5 Z" id="Stroke-1" fill="#810080" transform="translate(36.500000, 54.250000) scale(1, -1) translate(-36.500000, -54.250000) "></path>
                    <path d="M73,36.5 C73,30.1487209 78.1487062,25 84.4999317,25 C90.8512052,25 96,30.148769 96,36.5 L121,36.5 C121,16.3416221 104.658296,0 84.4999317,0 C64.3415716,0 48,16.3416181 48,36.5 L73,36.5 Z" id="Stroke-1" fill="#794F0E"></path>
                </g>
            </g>
        </g>
    </svg>
</div>

<div class="spaced pcr-header">
    <h2>Poetry, standup comedy and music</h2>
</div>

<div class="pcr-grid">
    <div class="pcr-grid__entry">
        <img
            class="lazyload"
            data-srcset="
                {{ 'pcr--olethia.jpg' | file_img_url: '873x873' }} 873w,
                {{ 'pcr--olethia.jpg' | file_img_url: '600x600' }} 600w,
                {{ 'pcr--olethia.jpg' | file_img_url: '400x400' }} 400w
            "
            sizes="290px"
            alt="Miss Olethia are partners of Automic Gold"
        />
        <h4><a href="http://missolithea.com/" target="_blank">Miss Olithea</a></h4>
        <p>
            Singer songwriter from Queens NY. Her two EP’s To Be Seen And Heard & Long Days Journey can be found on all streaming platforms
        </p>
    </div>

    <div class="pcr-grid__entry">
        <img
            class="lazyload"
            data-srcset="
                {{ 'pcr--jes.jpg' | file_img_url: '873x873' }} 873w,
                {{ 'pcr--jes.jpg' | file_img_url: '600x600' }} 600w,
                {{ 'pcr--jes.jpg' | file_img_url: '400x400' }} 400w
            "
            sizes="290px"
            alt="Jes Tom are partners of Automic Gold"
        />
        <h4><a href="https://www.jestomdotcom.com/" target="_blank">Jes Tom</a></h4>
        <p>
            New York based actor, writer, and weird queer stand up comic, gleefully providing the nonbinary queer Asian American radical cyborg perspective that everyone never knew they wanted.
        </p>
    </div>

    <div class="pcr-grid__entry">
        <img
            class="lazyload"
            data-srcset="
                {{ 'pcr--maleb.jpg' | file_img_url: '873x873' }} 873w,
                {{ 'pcr--maleb.jpg' | file_img_url: '600x600' }} 600w,
                {{ 'pcr--maleb.jpg' | file_img_url: '400x400' }} 400w
            "
            sizes="290px"
            alt="H-ba Malaeb are partners of Automic Gold"
        />
        <h4>H-ba Malaeb</h4>
        <p>
            A loving disciple of patience and courage, H-ba Malaeb looks for joy and communion across a multitude of forms and languages. They are a maker of comics, objects, cakes, and poems, and love to sing in the shower.
        </p>
    </div>

    <div class="pcr-grid__entry">
        <img
            class="lazyload"
            data-srcset="
                {{ 'pcr--vh.jpg' | file_img_url: '873x873' }} 873w,
                {{ 'pcr--vh.jpg' | file_img_url: '600x600' }} 600w,
                {{ 'pcr--vh.jpg' | file_img_url: '400x400' }} 400w
            "
            sizes="290px"
            alt="Vanilla Honey are partners of Automic Gold"
        />
        <h4>Vanilla Honey</h4>
        <p>
            Vanilla Honey, as she goes by on her socials, is a queer, kinky, Korean-American architect and poet. Her writing often explores the intersections of love, heritage, and vulnerability. Her recent work analyzes the way in which her biracial identity informed her queerness.
        </p>
    </div>

    <div class="pcr-grid__entry">
        <img
            class="lazyload"
            data-srcset="
                {{ 'pcr--arti.jpg' | file_img_url: '873x873' }} 873w,
                {{ 'pcr--arti.jpg' | file_img_url: '600x600' }} 600w,
                {{ 'pcr--arti.jpg' | file_img_url: '400x400' }} 400w
            "
            sizes="290px"
            alt="Arti Gollapudi is a partner of Automic Gold"
        />
        <h4><a href="http://www.artigollapudi.com/" target="_blank">Arti Gollapudi</a></h4>
        <p>
            Brooklyn based comedic performance artist. She curates & hosts Yourself, Your Body at Union Hall and Comedy CUNT at Bluestockings Bookstore.
        </p>
    </div>

    <div class="pcr-grid__entry">
        <div class="banoodle spaced">
            <svg role="presentation" viewBox="0 0 170 73">
                <title>Non-binary and genderqueer pride flag</title>
                <g id="Fliers" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                    <g id="Web-Page-Copy" transform="translate(-547.000000, -5748.000000)" fill-rule="nonzero">
                        <g id="Group-9" transform="translate(547.500000, 5748.500000)">
                            <path d="M25,36.5 C25,30.1487209 30.1487062,25 36.4999317,25 C42.8512052,25 48,30.148769 48,36.5 L73,36.5 C73,16.3416221 56.6582959,0 36.4999317,0 C16.3415716,0 0,16.3416181 0,36.5 L25,36.5 Z" id="Stroke-1" fill="#FFF430"></path>
                            <path d="M73,72.5 C73,66.1487209 78.1487062,61 84.4999317,61 C90.8512052,61 96,66.148769 96,72.5 L121,72.5 C121,52.3416221 104.658296,36 84.4999317,36 C64.3415716,36 48,52.3416181 48,72.5 L73,72.5 Z" id="Stroke-1" fill="#FFFFFF" transform="translate(84.500000, 54.250000) scale(-1, -1) translate(-84.500000, -54.250000) "></path>
                            <path d="M121,36.5 C121,30.1487209 126.148706,25 132.499932,25 C138.851205,25 144,30.148769 144,36.5 L169,36.5 C169,16.3416221 152.658296,0 132.499932,0 C112.341572,0 96,16.3416181 96,36.5 L121,36.5 Z" id="Stroke-1" fill="#9C59D1"></path>
                        </g>
                    </g>
                </g>
            </svg>
        </div>
    </div>
</div>

<!-- Noscript content for added SEO -->
<noscript><a href="https://www.eventbrite.com/e/post-corporation-rehabilitation-tickets-63974297847" rel="noopener noreferrer" target="_blank"></noscript>
<noscript></a>Buy Tickets on Eventbrite</noscript>

<script src="https://www.eventbrite.com/static/widgets/eb_widgets.js"></script>

<script type="text/javascript">
    window.EBWidgets.createWidget({
        widgetType: 'checkout',
        eventId: '63974297847',
        modal: true,
        modalTriggerElementId: 'eventbrite-widget-modal-trigger-63974297847',
    });
</script>
